[2018-03-08 20:18] msgeissler opened #4 "Sync Docker Hub documentation with Github README"
I am not sure whether or not the [documentation on Docker Hub](https://hub.docker.com/r/strapi/strapi/) is somehow linked to the README.md here in github, but currently is has gotten out of sync.
Right now the differences are not critical or even that important but should probably be updated to the same version from time to time (unless there is an automatic way to achieve that).

[2018-03-08 20:31] msgeissler opened #5 "[Suggestion] Build specific versions of strapi and align image tag"
I would like to suggest and talk about the following change (unless that change was already planned anyways):
Once the docker-image and Dockerfile have been proven to be stable (not necessarily strapi itself but the Docker part built around it), it should build specific versions of strapi and tag the image accordingly (e.g. strapi/strapi:v3.0.0-alpha.11).
Right now a user never knows which version

[2018-03-08 21:05] msgeissler opened #6 "[Suggestion] Add healthcheck"
Docker supports a healthcheck command, which can indicate whether or not the container is doing fine or is having problems.
Once strapi 3.0.0 stable has been released, a healthcheck for the Docker image should be available. This can  help DevOp-teams find dead or problematic strapi instances and restart them.

Right now a simple check for any response from the API / WebServer should be enough. In

[2018-03-09 06:15] lucaperret commented on #4
Hi @msgeissler thank you for your comment.
@Aurelsicoko can you update the DockerHub image description with the content of the [README](https://github.com/strapi/strapi-docker/blob/master/README.md)

[2018-03-09 06:19] lucaperret commented on #5
Good proposition. Would you make the PR for this change ?
By the way, can it be more relevant to build the image within the strapi/strapi repository ?
It can integrate a bit more with CI, and trigger the image push on the hub when a tag is processed...

[2018-03-09 06:29] lucaperret commented on #6
I agree with you. In any case, Strapi should have a dedicated API to store/retrieve the health status.

[2018-03-09 15:49] msgeissler commented on #4
Using [automated builds](https://docs.docker.com/docker-hub/builds/#understand-the-build-process) the README could also be synced automatically.

[2018-03-09 15:58] msgeissler commented on #5
If I find the time this weekend I will have a look at [automated builds](https://docs.docker.com/docker-hub/builds/), but so far I have no experience with docker hub other than pulling images from there. :)
But from what I have read so far, we should be able to use this repository for that as well.
And it also looks like this is going to be configuration mainly, maybe no big code change is require

[2018-03-09 16:05] msgeissler commented on #6
I already tried to add a very simple _wget_-healthcheck but ran into unexpected problems. Maybe I can look into a small node / js script that can do a HTTP check for now, which we can later extend to use the API once that is ready.

The idea for the node / js script comes from here: https://blog.sixeyed.com/docker-healthchecks-why-not-to-use-curl-or-iwr/
That makes the code more portable as it onl

[2018-03-10 15:52] msgeissler commented on #5
I created a PR with some minor changes: #7

To get automated builds by Docker Hub itself [some additional steps are necessary](https://docs.docker.com/docker-hub/builds/):

1. Someone with the Docker Hub login and permissions to the strapi-docker github repo needs [to link the hub account to the strapi/strapi-docker repository](https://docs.docker.com/docker-hub/builds/#link-to-a-hosted-repository

[2018-03-12 09:00] Aurelsicoko commented on #6
FYI, every Strapi app has already a route to make sure the instance is doing fine `HEAD /_health` https://github.com/strapi/strapi/blob/master/packages/strapi/lib/Strapi.js#L162

Btw, I really like the idea. However, I'm not sure to understand why do we need to store the health status?

[2018-03-12 10:00] lucaperret commented on #6
For the moment we should only report the health status to docker container.
Thanks @Aurelsicoko for the info!

[2018-03-12 17:11] lucaperret commented on #5
Unfortunately we should remove the current image on DockerHub to add the automated builds configuration.
What is your opinion concerning the repository of the Dockerfile? Can it be better to automate build of the strapi image within the official strapi/strapi ?
In this case the image will be build within each strapi release automatically...

[2018-03-12 17:13] Aurelsicoko commented on #5
I lost one hour to find a way to edit the current settings and add the automated builds on the current image but it seems this is still a feature request (https://github.com/docker/hub-feedback/issues/450)... Thank a lot @lucaperret for the help though!

[2018-03-12 19:23] msgeissler commented on #5
@Aurelsicoko Took me a minute to understand what you meant: You cannot link pre-existing Docker repositories to GitHub repositories.
Would it really be that bad if you deleted the current one and then recreated a Docker repository using the same name but using the automated build option? Right now the amount of stars and pulls on the Docker repo are not that high (since the repo is new) that it wo

[2018-03-12 19:30] msgeissler commented on #6
@Aurelsicoko I thought that storing the health status might be useful to not fail on the first failed request, but only after a certain failure rate.
Using that route we can do that in the Docker healthcheck itself based on the result of the last X checks, but we will have to find a way to store the last X results (I think the Docker healthcheck cannot save its state, but maybe we can use a small

[2018-03-13 06:29] lucaperret commented on #5
Thank you @msgeissler. It's also my opinion.
Later on, we should be able to trigger tag on this repository when a Strapi tag is pushed.
Finally @Aurelsicoko you can recreate the DockerHub image with this automated build configuration.

[2018-03-16 20:10] msgeissler commented on #6
Unless anyone else is very eager to work on this, I will try to get something up and running next week.

[2018-03-20 09:56] Aurelsicoko commented on #5
@lucaperret @msgeissler Guys, both repositories (strapi/strapi and strapi/strapi-docker) are set up with the automated build configuration. Tell me if I need to do something more?

[2018-03-20 10:01] Aurelsicoko commented on #6
@msgeissler Where do you think you will be store the health status of each server? We have the Core Store API (https://github.com/strapi/strapi/blob/master/packages/strapi/lib/core/store.js) which allows storing any kind of data easily in the database. It could be useful in this case...

[2018-03-20 17:15] msgeissler commented on #5
@Aurelsicoko can you create a tag _3.0.0-alpha.11_ from the current master? _3.0.0-alpha.11_ is the currently used version of strapi in the Dockerfile and the tag should then be picked up by dockerhub and start the first automated build.

[2018-03-20 17:30] msgeissler commented on #6
@Aurelsicoko for now (I guess it will stay that way, that's the docker way of things) each strapi container will run its own and only one instance of strapi. Since the docker healthcheck is running inside the container as a separate script, it has to deal with only one server.

I am also still quite inexperienced with server side javascript: can I just use the store from outside the context of str

[2018-03-20 19:09] lucaperret commented on #5
Thank you @Aurelsicoko, why do you have configured two image ?
We should only have one, called `strapi` in my opinion.
Is the automated build force you to use `strapi-docker` as the image name ? (because linked to the github repository)

[2018-03-20 19:56] msgeissler commented on #5
The Docker Hub name should be independent of the GitHub repository name.
I just did a quick test and you have to select the repository in a separate page before you can set up the Docker Hub repository name. The Docker Hub name can then still be changed. So I would assume that they are not coupled.

[2018-03-21 10:57] Aurelsicoko commented on #6
You're right, let's create a POC to make sure you can do what you're talking about and we will solve the storage problem later...

[2018-03-21 11:02] Aurelsicoko commented on #5
Sorry guys, I made a mistake. I set up the wrong repository. It's fixed now. The automated build has been set to the `strapi-docker` repository.

[2018-03-21 15:46] msgeissler commented on #6
PR #8 already implements a PoC healthcheck. :)
The build currently fails for another reason, but there is already a PR #9 that fixes that.

[2018-03-21 15:56] msgeissler commented on #5
Looks like the README was synced as well, but there seems to be a problem with the HTML at the beginning of it. It doesn't seem to be rendered. But that's for another issue.
Can you test if a GitHub tag works as well? It should show up as a different tag in the Docker Hub as well. If that works as well, we can probably close this issue.

[2018-03-21 19:55] lucaperret commented on #5
Fixed by dd46bba4b933dc866fd2680a921b11a03b37814d
Thanks for the work !

[2018-03-21 19:55] #5 closed

[2018-03-21 19:55] lucaperret commented on #4
Fixed by dd46bba4b933dc866fd2680a921b11a03b37814d
Thanks for the work !

[2018-03-21 19:55] #4 closed

[2018-03-21 20:47] lucaperret commented on #6
Closed by #8. Thank you both 👍

[2018-03-21 20:47] #6 closed

[2018-03-21 20:52] msgeissler commented on #6
Glad I can help.

(Btw it is awesome that the changes are already on Docker Hub. The automated builds are great. :D )

[2018-03-23 13:19] lucaperret commented on #5
By the way, there's still have the pulls number to 400+ for the image 👍
https://hub.docker.com/u/strapi/
Well done.

[2018-03-25 20:08] lkostrowski opened #10 "Container id instead of host in file upload URL"
**Node.js version**:
https://github.com/strapi/strapi-docker
(v9.8.0)

**npm version**:
https://github.com/strapi/strapi-docker
(5.6.0)

**Strapi version**:
https://github.com/strapi/strapi-docker
(3.0.0-alpha.11)

**Operating system**:
Docker

**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
After photo gets uploaded URL is copied to clipboard:
http

[2018-03-26 05:17] lucaperret commented on #10
`HOST` environment variable should be provided via the docker-compose.

[2018-03-26 08:41] lkostrowski commented on #10
Works, will do PR to readme in the evening

[2018-03-26 08:41] #10 closed

[2018-03-26 08:51] lucaperret commented on #10
Could you add it in the docker-compose.yml ?
No need to put it in the README, this value isn't relevant to configure because should always be `localhost` when Strapi is launch within docker-compose.

[2018-03-26 09:15] lkostrowski commented on #10
Sure

[2018-04-11 20:27] thebetterjort opened #14 "Volume mounts will not work on Windows"
I, unfortunately, am trying to develop on a Windows Box.

But the volume mounts will not work as described below.

https://github.com/docker-library/docs/blob/b78d49c9dffe5dd8b3ffd1db338c62b9e1fc3db8/mongo/content.md#where-to-store-data

[2018-04-11 20:46] thebetterjort opened #15 "Use of .sh files shunned globally."
Don't use .sh files for entrypoint. Shunned.

Use golang for statically typed and universal support.

[2018-04-15 08:14] LasaleFamine opened #16 "Error connecting to Mongo with production environment"
I'm trying to start the Strapi container passing the `NODE_ENV` var to `production` but after everything is created I have got this error and the container continues to restart:

[code]

Is there something I'm missing? Everything working normal with `NODE_ENV=development`.

[2018-04-22 17:45] msgeissler commented on #16
This is just a wild guess, but are you using self-signed certificates by chance?
Maybe some middleware (e.g. mongoose) handles certificates differently in development mode.

[2018-04-22 17:50] msgeissler commented on #15
Using node.js itself for the entrypoint should also be possible and may be the better solution.

I don't know golang but is that universal? Or how is it more universal?
The go-package is also quite huge and would blow up the image size if that should be required.

[2018-04-22 17:58] msgeissler commented on #14
The docker-compose file should be seen as an example / or not seen at all by the average end-user of the image.
Seeing how it currently lacks a part in the README (as that is being synced with docker-hub) maybe it should be moved to a CI subfolder, because the travis-build is currently using it.

The alternative would be to switch to volumes instead of filepaths, but then people have to be careful

[2018-04-23 07:41] LasaleFamine commented on #16
Hi @msgeissler, thank you for your response.
Nope, I have simply launched the `docker-compose` with `NODE_ENV=production` trying to simulate a production situation. I have CloudFlare pointing to my machine'IP, so the certificate is served by them, but I think the problem is likely more "internal".

Another thing I noticed is that I was able, just one time, to switch the previously started containe

[2018-04-27 07:05] lucaperret commented on #15
Strapi is running on Node.js, the alpine image is the lightest possible.

[2018-05-09 08:15] samarhaider opened #18 "This command can only be used inside a Strapi project."
I am running following command and getting above error.

`docker-compose exec api strapi generate:api product`

[2018-05-15 16:05] msgeissler commented on #18
The WORKDIR is defined as `/usr/src/api` in the Dockerfile, that means any command should be executed inside of that directory. What the default `strapi.sh` command does, is create a new project with the name as defined in the environment variables or _strapi-app_ by default if it does not yet exist, **change directory** to the project folder and start the project.

What you should be missing is t

[2018-05-20 18:17] mindpivot opened #19 "Add Option to specify Authentication DB in yml file"
I've been unable to use this image to connect to a custom MongoDB. I am receiving authentication errors using known working credentials.

I am able to connect to the same DB using a non-docker install of the same version (alpha 12.2) of Strapi directly from the command line. Best I can tell, the main difference is command line install with the prompts asks for the Authentication DB separately.

Wo

[2018-05-22 19:05] lucaperret commented on #16
Hi @LasaleFamine, have you try to run it outside the docker environment ?

[2018-05-22 19:08] lucaperret commented on #19
@Aurelsicoko could it be linked to Strapi ? Is the `strapi new` working on an non-empty database ?

[2018-05-22 19:54] lucaperret commented on #18
Hi @samarhaider, good idea. We'll need to improve the entrypoint to handle other arguments.

[2018-05-23 01:52] rmssoftwaretech opened #21 "Unable to delete the record in strapi admin for a model - gives error message"
Unable to delete the record in strapi admin for a model - gives error message

  | [2018-05-23T01:51:27.387Z] info Your server is running at http://localhost:1337
api_1  | [2018-05-23T01:51:27.387Z] debug Time: Wed May 23 2018 01:51:27 GMT+0000 (UTC)
api_1  | [2018-05-23T01:51:27.387Z] debug Launched in: 2218 ms
api_1  | [2018-05-23T01:51:27.387Z] debug Environment: development
api_1  | [2018-05-2

[2018-05-23 01:53] rmssoftwaretech opened #22 "Update doesn't work in case of strapi running on docker container"
Update doesn't work in case of strapi running on docker container.  Doesn't update the record or the image attached.

1  | [2018-05-23T01:53:12.539Z] debug GET /content-manager/explorer/events/5b047065098ddd77ae3c4307?source=content-manager (48 ms)
api_1  | [2018-05-23T01:53:12.547Z] debug GET /content-manager/layout?source=content-manager (25 ms)
api_1  | [2018-05-23T01:53:19.538Z] error this.upd

[2018-05-23 02:13] mindpivot commented on #19
@lucaperret When I tried to run the docker image the database was empty. `strapi new` works well directly from the VM I used to run it from the CLI. (i *have* run into a problem keeping it running or restarting the process which I haven't had time to investigate)

[2018-05-23 06:43] LasaleFamine commented on #16
Actually I had not the time to test outside Docker. Anyway I can confirm I have the problem also without the use of docker-compose. Launching two separate containers for Strapi and Mongo gave the same problem.

[2018-05-23 16:57] Aurelsicoko commented on #19
@lucaperret I don't know how it could be related to Strapi. What are the main differences between the command `strapi new` without the prompts?

[2018-05-24 09:37] lucaperret commented on #19
Hi @mindpivot, we should take into account your database configuration.
In Strapi it's prompted to the user https://github.com/strapi/strapi/blob/master/packages/strapi-generate-new/lib/before.js#L181-L196.
Do you want to make the PR to:
- add `DATABASE_AUTHENTICATION` (default false) and `DATABASE_ENABLE_SSL` (default false) environment variables in the [docker-compose](https://github.com/strapi/

[2018-05-24 09:39] lucaperret commented on #16
@Aurelsicoko : is there a specific behavior on the database connection when you set `NODE_ENV=production` ?
This bug is more related to Strapi.

[2018-05-24 11:51] Aurelsicoko commented on #16
No, but it will use the configurations available in the `./config/environment/production/*.json` files.

[2018-05-24 16:55] lucaperret commented on #16
Hi @LasaleFamine could you verify your production configuration ? are you using also SSL authentication for mongodb ?

[2018-05-24 17:00] lucaperret commented on #19
Environment variables are passed to the `strapi new` via the `strapi.sh` entrypoint.
But it should be also considered in the Strapi's CLI package: https://github.com/strapi/strapi/search?q=dbport&unscoped_q=dbport

[2018-05-25 18:06] LasaleFamine commented on #16
I'm getting the error just setting `NODE_ENV=production`, so I suppose I'm using the bundled production Strapi configuration.

[2018-05-29 08:24] mathb67 opened #23 "Unable to generate controller or model"
Hi
When i try to generate a model or a controller inside my api container, i get this error :
`error No generator called `model` found.`
`error No generator called `controller` found.`

The others generators are working fine.

[2018-05-30 09:06] SharkeyO opened #24 "lodash issue on docker-compose up"
I'm having issues with the official docker wrapper for strapi.io --> whenever I run docker-compose up, I am getting errors for lodash to not have been found. When running the docker container for the very first time (clean install), everything is running smoothly, second attempt will return the error below.

[code]

[2018-05-30 17:17] S-Polimetla opened #25 "Could not use with AWS ECS containers"
I tried using the compose file along with ECS CLI to deploy the containers into  ECS cluster. It creates and run the cluster but I could not access the public IP of the container instance at port 1337. It just times out.

I tried running this docker-compose up locally and it works.

Just wondering what additional criteria I would have to go if I am running in the cloud.

[2018-05-30 17:33] lucaperret commented on #14
Hi @thebetterjort, have you tried to run the container on Windows ?

[2018-05-30 17:36] lucaperret commented on #16
Unfortunately, the actual Strapi release used for this docker image (3.0.0-alpha.12) doesn't have the ability to connect to mongodb within SSL.
We'll do our best to build the image with the version `3.0.0-alpha.12.2` asap.

[2018-05-30 17:38] lucaperret commented on #19
This update can be done when this docker image use Strapi `3.0.0-alpha.12.2`. We'll do our best asap !

[2018-05-30 17:39] lucaperret commented on #21
Hello @rmssoftwaretech, this bug is more related to [Strapi's core](https://github.com/strapi/strapi).

[2018-05-30 17:39] #21 closed

[2018-05-30 17:40] lucaperret commented on #22
Hello @rmssoftwaretech, do you try to upload files ?

[2018-05-30 17:43] lucaperret commented on #23
Hello @mathb67, this has been fixed here https://github.com/strapi/strapi/pull/1184.
We'll do our best to upgrade the Strapi version in the docker image to `3.0.0-alpha.12.2` asap.

[2018-05-30 17:44] lucaperret commented on #25
Hello @sriharsha186, you could configure the `HOST` environment variable with the public IP.

[2018-05-30 18:55] rmssoftwaretech commented on #21
Thanks !

[2018-05-30 18:55] rmssoftwaretech commented on #22
Regular update is not working. It displays the original data.

[2018-05-30 20:21] sriharsha186 commented on #25
{
  "executionRoleArn": null,
  "containerDefinitions": [
    {
      "dnsSearchDomains": [],
      "logConfiguration": null,
      "entryPoint": [],
      "portMappings": [
        {
          "hostPort": 80,
          "protocol": "tcp",
          "containerPort": 1337
        }
      ],
      "command": [],
      "linuxParameters": {
        "capabilities": {
          "add": null,
          "dr

[2018-05-30 20:29] sriharsha186 commented on #25
You mean the port here? Instead of 1337?

{
"executionRoleArn": null,
"containerDefinitions": [
{
"dnsSearchDomains": [],
"logConfiguration": null,
"entryPoint": [],
"portMappings": [
{
"hostPort": 80,
"protocol": "tcp",
"**_containerPort": 1337_**
}
],

[2018-05-30 20:52] sriharsha186 commented on #25
I wonder how that would resolve but tried it nevertheless and the new task definition with container port as 80.  I am afraid, the issue stays unresolved.

[2018-05-30 20:59] rmssoftwaretech commented on #22
Yeah it works fine outside the container. !!

[2018-05-30 20:59] rmssoftwaretech commented on #22
It fails with the error in container : error this.updateRelations is not a function

[2018-05-30 21:37] sriharsha186 commented on #25
Thank you @lucaperret  for the quick response.  I tried changed the HOST to the public IP of the running EC2 instance but the result is the same. :(

[2018-05-30 21:38] sriharsha186 commented on #25
Oops. Closed by mistake

[2018-05-31 05:19] lucaperret commented on #25
You can try also to define the `PORT` environment variable to `80` in your container.

[2018-05-31 05:19] lucaperret commented on #22
Could you try to use the `3.0.0-alpha.12` as it's the version used in this docker image.

[2018-06-01 15:53] mathb67 commented on #23
Oh great ! Thanks @lucaperret

[2018-06-04 14:27] sriharsha186 commented on #25
Removing HOST completely worked for me.

[2018-06-08 18:57] ashishgkwd commented on #24
I ran into this issue after updating to `alpha.12.2` but was not able to troubleshoot the issue.
As a workaround a fresh install with the following steps fixed it for me:

- Bring down the containers `docker-compose down`
- Deleter the `db` and `strapi-app` folder created on your disk
- Update the `RUN` in DockerFile from `npm install -g strapi@3.0.0-alpha.12` to `npm install -g strapi@3.0.0-alpha

[2018-06-08 18:59] ashishgkwd commented on #24
My bad, I just saw there is already a branch available for `alpha.12.2` 😶

[2018-06-12 18:51] sriharsha186 commented on #25
Since this is a related issue, I am reopening.

Informations

**Node.js version: 8.10
npm version:
Strapi version: alpha.12
Database: mongo
Operating system: Linux Image**

**What is the current behavior?**
A content type with images and Relations has been created. Each time a image is uploaded and saved, it gives the error as this.updateRelation is not a function. It saves the text and other cont

[2018-06-12 19:43] philippfrenzel opened #26 "install on windows fails due to mongoerror"
MongoError: not authorized on strapi to execute command { listIndexes: "users-permissions_role", cursor: {}, lsid: { id: UUID("ba7326b6-5f66-445e-99fd-96a0b95d9a00") }, $db: "strapi" }

[2018-06-12 21:40] lauriejim commented on #26
Hello @philippfrenzel , please follow the issue template so we can get a better understanding about the origin of your bug.
I will reopen your issue as soon as it follows the templating guidelines.
Thank you.

[2018-06-12 21:50] alexleone opened #27 "Update image for 3.0.0-alpha.12.3"
Is it possible to get the repo updated to use strapi@3.0.0-alpha.12.3 ?

[2018-06-12 21:55] alexleone commented on #27
Just noticed this pull request https://github.com/strapi/strapi-docker/pull/20 but seems odd the CI failed. I built and a custom image with it and seemed to work.

[2018-06-13 05:31] jakubknejzlik opened #28 "Running in multi-container/node/zone deployment"
Hello, I'm new with strapi and it looks very interesting for many of our projects. One thing that I'm struggling with is how to run containerized strapi with multi-container/multi-node deployment (k8s, ecs etc.). The issues/questions I've discovered so far:

1. each container needs local volume to install plugins and dependencies, is it safe to run multiple containers mounted in same volume? Would

[2018-06-13 16:20] awerffeli commented on #24
I get the same error. Any fix for this?

[2018-06-13 19:16] philippfrenzel commented on #26
Hi, do you need any additional information? btw. i think I have a working docker compose.yml after hours of testing ... :)

[2018-06-13 19:17] philippfrenzel commented on #26
`
version: '3.1'

services:
  api:
#    image: strapi/strapi
    build:
      context: .
    environment:
      - APP_NAME=strapi-app
      - DATABASE_CLIENT=mongo
      - DATABASE_HOST=mongo
      - DATABASE_PORT=27017
      - DATABASE_NAME=strapi
      - DATABASE_USERNAME=admin
      - DATABASE_PASSWORD=pass
      - HOST=localhost
    ports:
      - 1337:1337
    volumes:
      - ./strapi-app:/u

[2018-06-13 19:18] philippfrenzel commented on #26
and you need a .env file within the project root with:

# Development environment settings for docker-compose
# ===================================================
#

# set environment to windows
COMPOSE_CONVERT_WINDOWS_PATHS=1

COMPOSE_PROJECT_NAME=itec

[2018-06-14 07:33] lucaperret commented on #24
Have you tried with the last Strapi's release ? If it's not working, you could report it to the Strapi's repo.

[2018-06-14 13:55] jenseickmeyer commented on #27
I've created another Pull Request (#29) with an update to 3.0.0-alpha.12.4. I've also fixed the CI build.

@lucaperret can you please review whether this is a valid fix or if something else needs to be done. It would be great to have Docker images for Strapi again. Thanks.

[2018-06-14 20:13] lucaperret commented on #19
Could you retry with the last docker image that includes the `v3.0.0-alpha.12.4` ?

[2018-06-14 20:14] lucaperret commented on #22
Could you retry with the last docker image that includes the v3.0.0-alpha.12.4 ?

[2018-06-14 20:14] lucaperret commented on #23
Could you retry with the last docker image that includes the v3.0.0-alpha.12.4 ?

[2018-06-14 20:14] lucaperret commented on #24
Could you retry with the last docker image that includes the v3.0.0-alpha.12.4 ?

[2018-06-14 20:15] lucaperret commented on #25
Could you retry with the last docker image that includes the v3.0.0-alpha.12.4 ?

[2018-06-14 20:16] lucaperret commented on #27
Thanks, closed by #29.

[2018-06-14 20:16] #27 closed

[2018-06-14 20:55] demobo-com opened #30 "Any example on using mysql in the strapi-docker?"
Need example on using mysql in the strapi-docker.

[2018-06-14 21:21] demobo-com opened #31 "Quickstart is not working on my mac"
api_1  | [2018-06-14T21:18:40.844Z] info Creating your application... It might take a few seconds.
api_1  | [2018-06-14T21:18:40.928Z] error `$ strapi new` can only be called in an empty directory.
api_1  | [2018-06-14T21:18:41.177Z] error This command can only be used inside a Strapi project.
strapi-docker_api_1 exited with code 0

[2018-06-14 22:14] demobo-com commented on #31
docker pull node:9.11.1-alpine
and redo quickstart. Now it works.

[2018-06-14 22:14] #31 closed

[2018-06-15 03:32] mindpivot commented on #19
@lucaperret I'll give it a shot this weekend

[2018-06-15 04:12] axe-me opened #32 "not working after set mongo root username/password"
docker-compose.yml:

[code]

error message:

[code]

[2018-06-15 10:02] lucaperret commented on #19
Sorry, it should be implemented in the `strapi.sh` entrypoint to pass these arguments to the CLI, and in the Strapi's CLI code. I'll do it in July...

[2018-06-15 10:03] sriharsha186 commented on #24
I am facing the same issue even with the latest version 12.4

[2018-06-15 10:04] lucaperret commented on #24
Could you report it to the Strapi's core repo please.

[2018-06-15 10:30] johannpinson commented on #32
@ShaneXie

You need replace the variables into the `db` container by:
- MONGO_INITDB_ROOT_USERNAME
- MONGO_INITDB_ROOT_PASSWORD

[2018-06-15 13:30] mindpivot commented on #19
@lucaperret let me know when it's ready, i'll try it out

[2018-06-15 16:31] ShaneXie commented on #32
@johannpinson thanks, gonna try after work today.

[2018-06-16 13:18] mathb67 commented on #23
It works like a charm, thank you !

[2018-06-18 10:56] sriharsha186 commented on #25
I deployed a container with the same task definition as before (with alpha.12) and just changed the tag as v3.0.0-alpha.12.4 instead of latest (just to rule out possibility of caching).  I could not access with the public IP of the EC2 instance.  To cross check, I deployed a different cluster with tag v3.0.0-alpha.12 and it works fine.

All the configuration is exactly the same with both of these

[2018-06-19 02:58] ShaneXie commented on #32
i think this is related to https://github.com/strapi/strapi-docker/issues/19, i prob just use empty db auth for now for dev until that fixed.

[2018-06-24 16:00] aloysius-tim opened #33 "Impossible to run a Docker Strapi container"
Hi there,

Just discovered Strapi, and I love it. But impossible to use it with docker.

Tried with my own dockerfile without any success `Error: Cannot find module 'stream-to-array'`

Tried with this dockerfile, without any success: `error Something else already exists at `/usr/src/api/strapi-app/node_modules`.`

If someone figures it out how to start a container, would love some help, thanks.

T

[2018-07-04 21:45] albertorm95 opened #35 "/admin showing nothing"
I have strapi running on a single node Swarm Cluster, I'm able to access the first page `You are looking at: ./public/index.html.` but when I try to go to `/admin` nothing show up, only a white page with the tittle Strapi Admin and the Icon, this is what I get from:

Network:
![screen shot 2018-07-04 at 4 42 20 pm](https://user-images.githubusercontent.com/8814890/42294795-70d857c4-7fa9-11e8-9859-

[2018-07-09 19:45] KerryRitterWaa commented on #26
Same issue here on Windows 10. Followed the install instructions on strapi.io, ran `strapi start`, and got the same error.

[2018-07-09 20:33] #23 closed

[2018-07-09 20:33] #24 closed

[2018-07-09 20:34] lucaperret commented on #26
Hello @philippfrenzel, could you report it to the main `strapi/strapi` repo ?

[2018-07-12 15:20] vaskort commented on #19
There is PR now open for this in Strapi's CLI code: https://github.com/strapi/strapi/pull/1555

[2018-07-21 19:41] philippfrenzel commented on #26
Hi, I will try to report it - the problem is, that the check for the empty dir is an issue with the config above

[2018-07-26 22:07] demobo-com opened #37 "How to change strapi-app to NODE_ENV=production?"
How to change strapi-app to NODE_ENV=production?
NODE_ENV=production docker-compose up -d
It seems not working.
Check /admin/currentEnvironment, it still shows
{
currentEnvironment: "development"
}

[2018-07-26 22:12] #37 closed

[2018-07-29 13:38] mkhennoussi commented on #24
Still not working for me, same error on "docker-compose up" any ideas ? Thanks

[2018-07-29 15:51] lauriejim commented on #19
We update to `alpha.13`, so you can try to make updates for you new options

[2018-07-31 14:43] dannydtk opened #38 "Error during docker run"
Hey,

I'm getting the following error after running default commands in README:
`Something else already exists at '/usr/src/api/strapi-app/node_modules'.`

Environment:
Amazon EC2  Amazon Linux AMI 2018.03
Docker version 18.03.1-ce, build 3dfb8343b139d6342acfd9975d7f1068b5b1c3d3

Steps:
1. Run:
[code]
2. Run:
[code]
3. `docker ps -a` shows that strapi container has exited
4. `docker logs strapi` o

[2018-08-02 06:07] lucaperret commented on #38
Hi @dannydtk,
It'll work if you remove the `node_modules` volume. Remove this line of your docker run:
`-v /usr/src/api/strapi-app/node_modules \`

[2018-08-02 06:08] lucaperret commented on #16
Hi @LasaleFamine , could you retry with the last docker image released ?

[2018-08-02 06:10] #15 closed

[2018-08-02 06:13] lucaperret commented on #22
This is more linked to the core Strapi's package.

[2018-08-02 06:13] #22 closed

[2018-08-02 06:15] lucaperret commented on #26
Related to the core Strapi's package

[2018-08-02 06:15] #26 closed

[2018-08-02 06:17] lucaperret commented on #25
Could you report it to the core Strapi's package?

[2018-08-02 11:34] dannydtk commented on #38
It works, thank you. Anyway I've fixed the problem just by using docker-compose and your repository. Anyway I've got some other problem which I'm gonna report in another ticket.

[2018-08-02 11:34] #38 closed

[2018-08-02 11:39] dannydtk commented on #19
@lucaperret Hey, could you please add these options to the CLI and docker-compose.yml? It works locally with `--dbauth=` and `dbssl=`  flags.

[2018-08-02 13:20] lucaperret commented on #38
I've changed the README.md for that, thanks!

[2018-08-06 22:10] LasaleFamine commented on #16
Awesome! Thank you so much for your constant updates @lucaperret.

The issue seems solved now with a fresh clone and `docker-compose up` with `NODE_ENV=production` specified for the Strapi container.

Close whenever you want guys, for me it's working. 👍

[2018-08-07 19:49] danielivert opened #40 "Error installing"
Hello,

I am getting the following error when I am trying to run the image after having it pulled.

[code]

Any ideas what that could be?

Thanks for the help

[2018-08-07 23:00] lucaperret commented on #40
Hello @danielivert , do you try to install behind a proxy ? it seems yarn cannot connect to the network.

[2018-08-07 23:02] lucaperret commented on #35
Hello @albertorm95, you should probably configure the `HOST` environment variable with IP or domain.

[2018-08-07 23:05] #16 closed

[2018-08-07 23:33] lucaperret commented on #32
Hello @ShaneXie , could you retry with the latest image ?

[2018-08-07 23:35] lucaperret commented on #19
Hello all,
I've added two environment variables for these purpose: `DATABASE_SSL ` & `DATABASE_AUTHENTICATION_DATABASE `. Try with the latest docker image.

[2018-08-07 23:44] lucaperret commented on #30
Hello @demobo-com, you could change service `db` in the docker-compose file with a MySQL image, plus updating `DATABASE_CLIENT` api's environment to mysql.
It could be good to add it as an example in the README 🎉

[2018-08-08 05:26] lucaperret commented on #40
You should configure `HTTPS_PROXY`,  `HTTP_PROXY`, `ALL_PROXY`, `NO_PROXY` environment variables.

[2018-08-10 07:02] daniloferreiradasilva commented on #32
I had the same issue. Only setting the env var _MONGO_INITDB_DATABASE_  do not make the database be created. So your problem is that strapis database do not exists.

- You have to create a script (**myscript.sh**) inside a folder (**script-folder**)
[code]

- and put it into /docker-entrypoint-initdb.d of the container
 volumes:
      - ./db:/data/db
      - ./**script-folder**/:/docker-entrypoint

[2018-08-10 07:44] lucaperret commented on #32
If you set `MONGO_INITDB_ROOT_USERNAME` and `MONGO_INITDB_ROOT_PASSWORD`, you should also update environment variables in the `api` service:
- `DATABASE_USERNAME`
- `DATABASE_PASSWORD`
The image will use the root access for database login. It is only for the getting-started guide and dev purposes.

[2018-08-10 11:04] jtktam opened #42 "missing mongoose"
I been trying to get the latest docker image to work.. it's failing with the following error (stack trace)

npm install strapi-hook-strapi-mongoose

**strapi_1  | [2018-08-10T11:00:37.463Z] warn (hook:strapi-mongoose) `strapi-hook-strapi-mongoose` is missing in your dependencies. Please run `npm install strapi-hook-strapi-mongoose`**
strapi_1  | error TypeError: strapi.models.core_store.forge is n

[2018-08-13 07:32] bruce0205 commented on #19
Hi @lucaperret , I got below error message with 'strapi/strapi:v3.0.0-alpha.13.0.1' image.
[code]
my docker-compose.yml is:
[code]

[2018-08-16 10:42] jakoblo commented on #42
same problem here... i just recreated the container with the newest strapi image

[2018-08-17 13:10] mikepuglisi opened #43 "Unable To Debug"
I would like to develop within the docker container while being able to setbreak points and inspect in vscode.

I typically accomplish this by passing the --inspect flag for the startup process.

    "start": "node --inspect=0.0.0.0:9222 server.js",

Unfortunately, I'm having a hard time understanding how to apply this concept to this project....

Can someone explain how I can debug strapi in vsco

[2018-08-18 07:09] devaublanc opened #44 "Can we bump the version to be ISO with the strapi v3.0.0-alpha.13.1 ?"
Hi @lucaperret https://github.com/strapi/strapi/releases/tag/v3.0.0-alpha.13.1

[2018-08-20 10:26] #44 closed

[2018-08-20 18:43] lucaperret commented on #43
Hello @mikepuglisi, please try to bind ports in the docker-compose file like [this tutorial](https://blog.risingstack.com/how-to-debug-a-node-js-app-in-a-docker-container/)

[2018-08-20 18:44] lucaperret commented on #42
Hello, @lauriejim is it something related to the core?

[2018-08-21 10:09] lauriejim commented on #42
@lucaperret I think it need an update somewhere since we move `strapi-mongoose` to `strapi-hook-mongoose`.

I think a dependencies has not been changed.

[2018-08-21 12:00] luisfavila commented on #28
Any news regarding this? Also interested.

[2018-08-25 09:38] apihlaja commented on #14
That helped  me to figure out what's the issue with Docker for Windows: https://github.com/docker-library/mongo/issues/243#issuecomment-395025628

It seems NTFS mounts aren't going to work, you have to use something else for MongoDB, named volume being one of the options:

[code]

[2018-08-27 20:13] stephane-r commented on #16
Hey, hello guys !

I've same problem with Strapi and Docker for environment production variable. Can't connect to mongodb :/

[2018-08-28 10:24] ouchiko opened #46 "Installation Issue"
I've tried latest back through to older docker tags and I can't get this running. Run as image pull and direct on the Dockerfile also.

Primary issue continually seems to be:

[code]

Node @ v9 on the Strapi API
`/usr/src/api/strapi-app # node -v
v9.11.1`

[code]

The image installation via Dockerfile is OK.

[code]

[2018-08-29 05:55] lucaperret commented on #46
Hi @ouchiko, could you try with the last image (3.0.0-alpha.14) and if it don't work, report this issue in the core Strapi's repository ?

[2018-08-29 05:57] lucaperret commented on #16
Hi @stephane-r, could you explain here how did you resolve it yesterday ?

[2018-08-29 21:14] matteo-bombelli opened #48 "cannot start container strapi:latest"
Hello I tryed to run strapi + mongodb on docker (making them run from portainer) but it crashes at start

ENV parameters:

parameter | value
------------------ | ----------
DATABASE_CLIENT | MongoDB
DATABASE_HOST | mongodb_strapi
DATABASE_USERNAME	| *****
DATABASE_PASSWORD	| *****
PATH | /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
NODE_VERSION | 9.11.1
YARN_VERSION | 1.5.1
DATABAS

[2018-08-30 06:07] lucaperret commented on #48
Your `DATABASE_CLIENT` environment variable should be one of:
- mongo
- postgres
- mysql

[2018-09-04 15:24] MoQ93 opened #49 "Build issue with existing projects"
Running the docker image on an existing project failed building.
I think this happens because the container is running as root and then the npm command needs the --unsafe-perm param to run a script.

Even after doing this manually the container run without problems but every path will open the  "welcome page". When I try the same without docker is working without a problem.

api_1  | npm WARN life

[2018-09-13 19:05] guushamann opened #50 "Arm Friendly docker compose"
Hi,

not an issue, but did not know where to put this

check my ARM friendly docker build files
tested on raspberry pi 3+ with hypriot image (https://blog.hypriot.com/)

[https://gist.github.com/guushamann/6fec5c073e2edb6579e8060e7e7f3bd9](url)

cheers,
Guus

[2018-09-19 01:28] rodrigoWollies opened #52 "Third party database hosting - mongodb"
Hi Guys,

I'm looking to use mlab or mongo atlas to host the database. Our current strapi app is running locally, we are trying to dockerise it but cannot get it to connect to hosted database. Any ideas?

Cheers, Rodrigo

[2018-09-19 13:54] MoQ93 commented on #49
The redirecting issue was my mistake because of conflicting modules versions.
I will submit a PR to fix the build process of existing projects

[2018-09-20 08:35] lauriejim commented on #49
I think we have the same issue here https://github.com/strapi/strapi/issues/1840

[2018-09-20 09:42] MoQ93 commented on #49
@lauriejim I think my project was "wrong" initialised. The Docker image on my host was an older one so the strapi project was initialised with lets say version 3.0.0-alpha13.1.1 then only the root project and the admin module have the same versions but all plugins had the latest version. This broke my project at some point or lead to crashes and so on.

Probably it makes sense to detect the used v

[2018-09-20 14:05] BlackDark commented on #48
Same here:
Attaching to strapi_api_1
api_1  | 🚀 Start creating your Strapi application. It might take a minute, please take a coffee ☕️
api_1  |
api_1  | Lets configurate the connection to your database:
api_1  | Database determined by CLI args: mongo
api_1  |
api_1  | ⏳ Testing database connection...
api_1  | { Error: Cannot find module '/tmp/strapie0ea507fb540/node_modules/strapi-hook-mongoose/l

[2018-09-20 14:39] BlackDark opened #54 "Images with preinstalled modules"
Would it be better if we would have containers which are already build up with all modules etc to reduce the necessary startup time of containers?

[2018-09-21 14:57] lauriejim commented on #49
You are right, can you open an issue about this topic (version matching) on https://github.com/strapi/strapi please.

[2018-09-21 14:58] lauriejim commented on #49
And I think we can close this one.

[2018-09-22 09:33] jmchza opened #66 "Prod deploy into a separated container from the API module"
**Informations**
- **Node.js version**:10.10.0
- **npm version**:6.4.1
- **Strapi version**:3.0.0-alpha.14.1.1
- **Database**:Postgres
- **Operating system**:Mac high Sierra

**What is the current behavior?**
What about running the admin console pointing to a separate api on another server ?
that would be running the admin console with the addition of this, but not DB associated locally:

I would

[2018-09-26 15:58] lucaperret commented on #52
Hi @rodrigoWollies , Could you paste your dockerfile or docker-compose, please.

[2018-09-26 16:06] lucaperret commented on #54
Nice idea in case you need to bootstrap faster the app. It's a specific use case that's not common, feel free to make a PR to propose your change.

[2018-09-26 16:06] #54 closed

[2018-09-26 21:17] ajnirp opened #56 "Repo description might need to be edited"
https://www.strapi.io doesn't DNS-resolve

The link should probably be changed to https://strapi.io

[2018-09-27 12:17] #49 closed

[2018-09-27 18:41] caoer opened #57 "node version?"
![image](https://user-images.githubusercontent.com/225856/46167234-db665f80-c2c7-11e8-8c8e-fe32f4024bfb.png)

strapi's node version requirement is >= 10.x. why are we using `FROM node:9.11.1-alpine` ?

[2018-10-05 06:54] lucaperret commented on #57
Hi,
because https://github.com/strapi/strapi/blob/master/package.json#L64
specify version >= 9 for now.

[2018-10-07 09:17] rejifald opened #58 "installed version is 14.0 but installer is 14.2"
Somehow, after i run "docker-compose up", everything installs and starts, but powered by strapi 14 version. This is critical, because on this version creating new content type via GUI is impossible. And many other things not working.

[2018-10-08 19:27] ajnirp commented on #56
seems like this has been fixed, so I'm closing it. thank you for fixing!

[2018-10-08 19:27] #56 closed

[2018-10-09 09:15] lucaperret commented on #58
The actual version is v3.0.0-alpha.14.2, is this issue related to the docker image ?

[2018-10-15 09:59] manhhailua commented on #28
Interested in this, I'm also aiming to deploy Strapi on K8S cluster and expect it to be able to run on multiple pods/containers.
One more point is Strapi is causing downtime on configuration changes (code changes), this's awkward on production.

[2018-10-15 21:31] caoer commented on #57
I see, got it. thanks.

[2018-10-15 21:31] #57 closed

[2018-10-17 20:18] cupofnestor commented on #18
`strapi start` could be removed from `./strapi.sh` then this script could be run as a `CMD` to setup the environment before changing the working directory for the strapi start command and subsequent ones passed by exec,run, etc. This script changes the CWD in bash land, which I think is the main issue here.

Strapi could be run via `ENTRYPOINT`, with default args provided by a CMD.

[code]

This h

[2018-10-18 12:05] Aurelsicoko commented on #28
@lucaperret @msgeissler @synth3tk any insights?

[2018-10-18 13:42] msgeissler commented on #28
Hm, I don't have any experience with K8S and only minimal experience with running stuff in (docker) clusters.
For the strapi-container you should basically follow the normal strapi-cluster setup first. Sadly I cannot find any documentation for that. So I do not know what kind of settings and setup strapi itself expects in a cluster environment. Without that, I cannot say whether it is OK to just p

[2018-10-18 14:08] synth3tk commented on #28
So at first thought, this will almost certainly require some core changes. I believe the server restart for model/plugin changes will be the biggest pain point, as others have pointed out. If Container A updates a model, it's saved in the database for others to see, but Container B doesn't. Same with the plugins. I'm not familiar with how other CMSes handle this in a container.

I haven't touched

[2018-10-18 14:14] synth3tk commented on #28
Looks like @msgeissler replied before I had a chance to post my comment (I thought GitHub autoloaded comments). Anyway, I wasn't familiar with a Strapi cluster mode, but that sounds like it's a step in the right direction.

I also agree that installing plugins and creating a "golden" image might be a good way to take care of the plugins side of the equation. We'd still need to address models, thou

[2018-10-18 14:35] msgeissler commented on #28
I really haven't worked with strapi too long. :-D
I completely forgot about the models, I was thinking only of strapi and node plugins.
Models might be a problem if they should be changeable at runtime, but I think that can only be solved by a proper cluster mode and possibly API in strapi itself first. Maybe they have to be stored in the database as well and created from there (they still have co

[2018-10-18 14:42] jakubknejzlik commented on #28
@synth3tk I feel little bit confused. Could you clarify what you mean by "cluster mode". All what I was able to find about strapi and cluster is node cluster module support (not sure if this will do any good for this issue) and issue about MongoDB cluster :)

[2018-10-18 15:03] synth3tk commented on #28
@jakubknejzlik I was referencing @msgeissler's comment. I don't recall hearing about it, either, so I was curious if it was something introduced since I stopped working on my project.

[2018-10-18 15:15] msgeissler commented on #28
I was just mentioning it because I think it would be a requirement to get proper multi-container support. If strapi does not support a cluster environment, neither can strapi in a container. But as I mentioned earlier, I also was not able to find any documentation on that. So for now, I assume that it does not exist yet. The problems mentioned above would most likely be stuff that such a cluster-m

[2018-10-24 19:51] timoa commented on #28
Hi guys,

I'm also new with Strapi, and my first idea was to make my Strapi container immutable as much as I can by developing locally and commit the model changes that trigger a new build (container).

It works well at the moment if I build for the same environment, but I can't reuse the same container for all the environment because it needs to rebuild the plugins with the `npm run setup` (https

[2018-10-25 07:54] MoQ93 commented on #58
This is possible related to https://github.com/strapi/strapi/issues/2011?

[2018-10-25 19:49] rejifald commented on #58
@MoQ93 @lucaperret thank you for response. Problem were with docker container. Another strapi docker was ran in background. So every time i did see another strapi instance.
I think this issue because when i did run container, it did output in log that everything is ok.
But certain port has been already allocated by another strapi instance

[2018-10-26 13:48] rabira-hierpa commented on #48
I had the same issue but without docker and` yarn global add strapi@alpha` solved my problem
:smile:

[2018-10-27 17:01] lauriejim commented on #48
Don't use yarn with Strapi, not fully supported.

[2018-10-29 16:01] GlennCarroy opened #60 "What to save on Git?"
Hey there,

I am curently using a docker-compose containing the official images used to make strapi run.

I would like to know which folders have to be saved on github when you want to commit your code?

For now, after some research, it looks llike everything (all folders) are pushed, which might get pretty heavy with a project growing up, is there a reason for that? Cannot the admin / functionnal

[2018-11-01 07:38] amitmalagi opened #61 "User role selection results in blank page"
**Informations**
- **Node.js version**:
- **npm version**:
- **Strapi version**:  v3.0.0-alpha.14.3 using docker-compose
- **Database**:
- **Operating system**: Ubuntu

**What is the current behavior?**
Clicking on role selection takes user to blank page.

**Steps to reproduce the problem**
Install Strapi using docker-compose. Register new user as admin and sign-in. Click on 'add new user' and cli

[2018-11-03 01:49] jackstrapp commented on #61
I can reproduce this issue on the 'add content type' page.
![image](https://user-images.githubusercontent.com/12911863/47946925-2f78eb00-dee9-11e8-923c-eb20ca9fee90.png)

[2018-11-05 15:56] lauriejim commented on #61
@jackstrapp also using Docker ?

[2018-11-05 22:31] jackstrapp commented on #61
Yes also docker but only with this repo. I tried a simple custom install kind of like this one and everything works as expected:
[code]

[2018-11-05 23:07] rolandbough commented on #61
Thanks for the tip I will give that a shot.

-Ro

On Mon, Nov 5, 2018, 2:31 PM jackstrapp <notifications@github.com wrote:

[2018-11-07 15:23] lauriejim commented on #61
Okay thank you for this details

[2018-11-08 03:46] oztexan opened #62 "Add new content type fails with blank screen"
Did naive install just to eval today.  Got issues reported here: https://github.com/strapi/strapi/issues/1966

Fixed by changing node version and strapi version in Dockerfile

`FROM node:11.1.0-alpine

LABEL maintainer="Luca Perret <perret.luca@gmail.com>" \
      org.label-schema.vendor="Strapi" \
      org.label-schema.name="Strapi Docker image" \
      org.label-schema.description="Strapi conta

[2018-11-08 07:54] nmihaica commented on #62
Also [#61](https://github.com/strapi/strapi-docker/issues/61).

Can confirm that fiddling with strapi and nodejs versions work.
Used same snippets as @oztexan.

For pre-populated db and `WiredTiger` error just
`rm -rf db`.

[2018-11-08 16:51] donaldr opened #63 "Node version is old"
Node version on docker instance is 9.11.1 but Strapi recommends 10.x.x . If you try to put in a ticket on the strapi github one of the requirements is that you're using the latest version of node.

[2018-11-08 16:59] donaldr opened #69 "Lato font not loading"
**Informations**
- **Node.js version**:  v9.11.1 (from the docker instance strapi/strapi)
- **npm version**: 5.6.0 (as installed by docker instance)
- **Strapi version**: 3.0.0-alpha.14.3

Lato font not loaded when running strapi from docker instance. Many pages have a sans serif font.

[2018-11-09 13:00] maxfredo1612 commented on #62
I'am still having problems, even with @oztexan changes. I'am still getting a blank page and "Minified React error #188".

[2018-11-09 13:51] lauriejim commented on #63
Hello @donaldr Can you submit a PR with node version update please.

[2018-11-10 19:50] maxime1992 opened #64 "Content type builder: New ends up with an error"
When clicking on the button to craete a new type, URL becomes http://localhost:1337/admin/plugins/content-type-builder/#create::contentType::baseSettings and we get an error into the console:

[code]

[2018-11-10 20:03] djerfy commented on #64
See #61 and #62

[2018-11-13 19:24] #64 closed

[2018-11-14 06:17] zjhou opened #67 "content type config error"
Hi
When I config my content type at
`localhost:1337/admin/plugins/content-manager/ctm-configurations/xxx`,
I got a blank page with this error in console:
[code]

navigator.userAgent:
[code]

[2018-11-14 08:11] lucaperret commented on #67
Issue related to the core repository https://github.com/strapi/strapi

[2018-11-14 08:11] #67 closed

[2018-11-14 08:14] #58 closed

[2018-11-14 23:37] jackstrapp commented on #61
Tested a clean
[code]
on an ubuntu docker host and it works like a charm 🥇

Thanks

[2018-11-15 05:47] #61 closed

[2018-11-15 17:58] lucaperret commented on #69
Could you try with the last image release ?

[2018-11-22 22:20] lvnilesh commented on #52
I could not locate a way to specify `? +srv connection: true`

Need a docker-compose ENV to set this.
[code]

[2018-11-23 23:48] lvnilesh opened #71 "Need a docker-compose ENV var to set +srv connection: true"
Need a docker-compose ENV to set `+srv connection: true (default false)`

This variable needs to be set ->    `scope.database.settings.srv`

[2018-11-23 23:49] lvnilesh commented on #71
probably related to https://github.com/strapi/strapi-docker/issues/52

[2018-11-23 23:51] jakubknejzlik commented on #28
@Aurelsicoko imho that's very good architecture (better than black-boxing the source codes in some magically loaded dependencies). But there's no easy/possible way how to create final container that I want to distribute...or is there anything like that?
Currently I'm using the UI to generate my model, install plugins, configure the backend stuff etc. If I can do this locally, then wrap the whole g

[2018-11-29 16:13] Aurelsicoko commented on #28
No idea, I don't know how this can be done with Docker. We've hired a new lead back-end developer, he'll certainly find a way to solve this issue 👍

[2018-11-30 17:07] benjbaron opened #73 "/admin path not loading correctly with nginx reverse_proxy"
Hello,

I have been trying to setup the Docker containter of Strapi behind a nginx reverse proxy. The Docker container is configured as follows:
[code]

And the configuration of the nginx server is the following:

[code]

When I go to `https://my.domain.co/path/to/strapi/`, I can see the welcome page but when I try to go to the admin page at `https://my.domain.co/path/to/strapi/admin/`, the base `

[2018-12-06 04:07] kukuandroid opened #75 "Unable to find database postgres"
Hello, please help me on this. The strapi was able to connect to postgres but unable to find the database name.
Environment :
- Postgres : dockerized port 5432

[2018-12-20 17:48] elvay1 opened #76 "Update image for Strapi to version 3.0.0-alpha.17"
The latest version of Strapi is out I propose to update image to alpha.17.

Is there a reason why images are not versioned since alpha 14.5?

[2018-12-21 19:51] lishine opened #78 "Docker stack"
Using docker stack deploy instead of docker-compose
Strapi cannot connect to the db
Here is the YML
[code]

[2019-01-01 21:06] Wulfheart opened #80 "DB Connection failed"
Today I got this repository and ran `docker-compose up`. This is the (wrong) output? Any way to fix this?
[code]

[2019-01-07 12:47] MoQ93 commented on #49
@stephane-r actually the solution is already merged. Which version are you using?

[2019-01-11 05:46] stephane-r commented on #49
I use the latest version :) it's fresh project.

[2019-01-12 22:38] maxime1992 commented on #48
Migrating strapi from dev to prod... Is sooooooo complicated. Cannot migrate db, containers are crashing when restarted... I know it's not useful to complain but after building a project using it I definitely regret not trying to put everything on prod at the beginning. I do feel completely stuck now :fearful:

[2019-01-13 14:18] sridkdhar opened #82 "errors installation on xubuntu"
hi,
while installing getting the following warnings....

npm WARN deprecated joi@10.2.2: This version is no longer maintained. Please upgrade to the latest version.
/usr/local/bin/strapi -> /usr/local/lib/node_modules/strapi/bin/strapi.js
npm WARN react-ga@2.5.6 requires a peer of prop-types@^15.6.0 but none is installed. You must install peer dependencies yourself.
npm WARN react-ga@2.5.6 require

[2019-01-14 08:46] lauriejim commented on #48
Hello @maxime1992 !
Thank you for this message, we know we have some hard work to do to make the switch easy as it's easy to build your API.
There is a ticket in our roadmap - https://portal.productboard.com/strapi/c/12-migrate-across-environments - feel free to add a comment to help us to build this feature the better we can.

[2019-01-14 08:48] lauriejim commented on #82
Can you give us more detail because I'm not able to understand what you did to have this error.

[2019-01-14 09:59] maxime1992 commented on #48
I wish you guys the best and Strapi looks very promising :raised_hands:.

Might just be worth mentioning the state of Strapi on Github so that people knows what to expect for now :)

But keep up the good work :muscle: :clap:

[2019-01-14 10:37] sridkdhar commented on #82
Dear Jim,

I have done the following

1. On a Lenovo 50-45 laptop with a formated 1 TB hard disk,  I installed
Xubuntu 18.04
2. Installed docker and configured to use different volume using -g
/media/xx/work/docker in /etc/default/docker file. Not worked. So changed
/lib/systemd/system/service.docker file and rsynced the docker path
/var/lib/docker to my work volume. Created a symlink.

3. Install

[2019-01-15 14:17] MartinMuzatko opened #83 "Hot Replacement (Stateless) Containers"
Hello!

Currently, the container installs itself when starting. This should be actually done **during the image build step**, not when running the container.

### The Problem

The setup right now, does not allow to quickly switch environment variables because they are only read when setting up the container. Any other reconfiguration of the container that is not doable during runtime ( change expo

[2019-01-15 16:23] hesselbom opened #84 "Error installing with quickstart on Mac OSX"
Following this tutorial (https://medium.com/strapi/strapi-quickstart-with-docker-d77ca7c86c1f) and running `git clone https://github.com/strapi/strapi-docker && cd strapi-docker` followed by `docker-compose up` on Mac OSX I get the following error (instead of running at http://localhost:1337):

[code]

I'm running Mac OSX 10.14.1 and Docker Desktop Community 2.0.0.2 (engine 18.09.1).

[2019-01-16 11:47] lauriejim commented on #48
Thank you @maxime1992 ! We are doing our best to have to best product with the best community!

[2019-01-16 21:14] paolodina commented on #82
Same here but with 16.04. I don't think it's an OS issue though.

![screenshot_2019-01-16_22-09-08](https://user-images.githubusercontent.com/1157401/51278743-b105f280-19db-11e9-98d8-e3a91849eaa1.png)

I just typed the [Quick start commands](https://github.com/strapi/strapi-docker#quickstart-recommended).

Quoting:
`except for warning... strapi app from docker is working fine.`

[2019-01-19 09:22] Klian commented on #84
Same error here.

[2019-01-19 17:04] panosru commented on #32
I bump on the same issue today, I wanted to try strapi, this is my `docker-compose.yml` file:

[code]

This is what I'm getting:
![image](https://user-images.githubusercontent.com/400362/51429915-b1410080-1c1c-11e9-950b-e798b9ef283f.png)

I also tried to replace `- HOST=localhost` with `- HOST=strapi-db` but I got the same result.

Thanks

[2019-01-19 20:46] panosru opened #85 "Unable to connect to the database"
It seems that strapi is unable to connect to the database.

this is my `docker-compose.yml` file:

[code]

This is what I'm getting:
![image](https://user-images.githubusercontent.com/400362/51432231-d6456b80-1c3c-11e9-96f3-0bc53f5305ba.png)

![image](https://user-images.githubusercontent.com/400362/51429915-b1410080-1c1c-11e9-950b-e798b9ef283f.png)

Thanks

Related issue: #32

[2019-01-19 21:19] panosru commented on #85
I seems to missed `- DATABASE_HOST=db`, it should be `- DATABASE_HOST=strapi-db` and `- HOST=strapi-db` should be `- HOST=localhost`, in addition to https://github.com/strapi/strapi-docker/issues/32#issuecomment-411994597 my issue has been resolved.

[2019-01-19 21:19] #85 closed

[2019-01-21 10:12] hesselbom commented on #84
Looks like I found a workaround. In `docker-compose.yml` it looks to mount to the folder `./strapi-app` but that folder doesn't exist. So by creating an empty folder with that name it works. So the steps to init a new project would be:

[code]

[2019-01-21 16:58] Jensderond opened #86 "Error trying to load admin login page"
See screenshot for error message this only happens on production.
![screenshot from 2019-01-21 17-53-26](https://user-images.githubusercontent.com/6972822/51488537-1a07b480-1da6-11e9-8439-8ab28cc2dc86.png)

[2019-01-21 22:13] #86 closed

[2019-01-22 22:13] batjko commented on #80
I'm seeing the same thing, on Windows 10, as well as Linux.

![image](https://user-images.githubusercontent.com/7287076/51568954-eb1b3c80-1e92-11e9-88b3-0604738c36a8.png)

[2019-01-24 19:50] DanRoestorf commented on #49
I'm also running into this issue in 3.0.0-alpha.21

[2019-01-25 19:30] indiecore-fm opened #88 "AKS"
Is there any insight on how to get this running in an AKS on Azure?

[2019-01-26 18:07] joelbqz opened #89 "quickstart on Mac OSX not working"
![image](https://user-images.githubusercontent.com/19965325/51791042-3f603e00-216b-11e9-9dbc-8d5f1fa04283.png)

`exception in initAndListen: IllegalOperation: Attempted to create a lock file on a read-only directory: /data/db, terminating`

` Database connection has failed! Make sure your database is running.`

How can I fix this issue? I'm using quickstart on Mac OSX

Thank you!!

[2019-01-27 16:14] #52 closed

[2019-01-27 16:14] #71 closed

[2019-01-27 17:56] Eventyret commented on #76
docker hub will always have the lated release aswell 👍

[2019-01-29 17:17] msgeissler commented on #89
That is most likely a problem with the permissions, if you are using the docker-compose.yml from this repo. https://hub.docker.com/_/mongo -> Scroll down to Caveats -> Where to Store Data
 and read the warning

The current version of the docker-compose.yml (which really should be used only by the CI connected to the github repo to do tests) mounts a db-folder from the host system to store the data

[2019-01-29 17:22] msgeissler commented on #82
I think this isn't an issue with the OS at all. Looks like this is more of a problem with the NPM packages that are being used, that are outdated or have conflicting versions defined.

[2019-01-29 17:25] msgeissler commented on #80
For Windows and Mac OSX you might run into problems with the docker-compose.yml in this repo as it mounts a folder from the host system.

Please see https://hub.docker.com/_/mongo -> Scroll down to Caveats -> Where to Store Data
and read the warning.

But that should not explain the error on Linux. Maybe more of the logs can help.

[2019-01-29 17:34] msgeissler commented on #78
A problem that you may run into with docker stack deploy instead of docker-compose up is that docker swarm does not support the depends_on keyword. So the database might not be ready yet when strapi starts, though the restart_policy should cause it to restart.

You also have multiple instances of the DB and strapi, without any actual cluster configuration. One problem might also be that you simply

[2019-02-01 02:10] qiandongyq commented on #75
same issue here

[code]

[code]

[2019-02-03 14:11] lauriejim commented on #75
Thank you for this detail!

And you are sure about your PG configuration with this var `POSTGRES_INITDB_DATABASE` ?

[2019-02-16 11:32] MatteoGioioso commented on #80
Exact same error on Window 10.
@msgeissler in the link you provide does it say to run mongo container via `docker container run` instead of `compose` file?
Otherwise I did not get it 😄

[2019-02-16 19:31] msgeissler commented on #80
@MatteoGioioso with the link I was specifically referring to the mentioned caveats section in the mongodb container documentation. On Windows and Mac OSX you cannot use folders mounted from the host to store data for mongodb, which is currently the case with the Docker compose file provided in this repository.

You will have to use Docker volumes if you wish to persist the data for longer usage, o

[2019-02-17 02:05] MatteoGioioso commented on #80
@msgeissler Sorry if I still did not get it.
You are saying that in this case `bind mounts` are not working and instead we should use just `volumes`.
Ex: instead of:
[code]
just
[code]

Thanks

[2019-02-17 09:08] msgeissler commented on #80
@MatteoGioioso you should read the storage overview of docker to get a basic knowledge of the different types of storage docker has: https://docs.docker.com/storage/
The two important ones for now are **volumes** and **bind mounts**.

For mongodb (and this applies to other containers as well, mainly databases) bind mounts on Windows and OS X are not support. From the mongo docker page:

(The Virtu

[2019-02-19 14:54] oxnxo commented on #48
@matteo-bombelli , @BlackDark were you able to solve the problem?
I also just installed a fresh instance of mongo and strapi. I'm getting the same database connection error
Testing database connection...
⚠️  Database connection has failed! Make sure your database is running.

My database is running as i've been able to connect to it using navicat.
Env variables
PATH:/usr/local/sbin:/usr/local/bin:

[2019-02-21 09:14] COcis-io commented on #73
Same here!

[2019-02-21 23:26] nan140114 opened #93 "Connection to api service"
Usually**, docker containers can be accesed via `docker exec -it container_name /bin/bash`  or via composer with `docker-compose exec service_name /bin/bash` . Sometimes you need to connect to container for inspect some data or files. In this case `api` only have the shell interpreter available. Would have sense to update the README file for advise the user that they can use [1] and [2] commands f

[2019-02-23 07:47] olaj commented on #80
Just to provide i clear answer. I just removed the "." in the docker-compose file.

From:       - ./db:/data/db
to:       - /db:/data/db

[2019-02-26 13:48] batjko commented on #80
To be clear, I already removed the volumes from my compose file, because I know on Windows the paths will be different and I just wanted to get the compose stack running for once, before deciding where to persist the data.

So the mounts are not the problem I had, me thinks.

[2019-02-27 16:57] msgeissler commented on #80
@batjko hmmm, the best I can find on this still relates to a permission problem with mounting host volumes on Windows: https://github.com/docker-library/mongo/issues/74

I am not sure what is going on in your case, but it looks like this is more related to docker and mongo.

This may sound a bit counter intuitive, but could you try it again with an explicitly defined / named volume?
If that does n

[2019-02-28 09:55] mastermsd opened #94 "How to use nginx in strapi-docker?"
Hello,

I have been trying to setup the Docker containter of Strapi behind a nginx reverse proxy, because I'm having trouble with adding new users ([#2472](https://github.com/strapi/strapi/issues/2472), [#2424](https://github.com/strapi/strapi/issues/2424))
But somehow I can't get it to work.
The file structure is as follows: [mastermsd/strapi-docker](https://github.com/mastermsd/strapi-docker). A

[2019-03-01 17:31] botzill opened #95 "Add option for --dbforce"
Hi.

Will be great to have this option as well for the cases when we run it automatically, like kubernetes cluster. Now it's asking for user input if app exists. Havig `dbforce` can solve this issue.

Thx!

[2019-03-02 04:13] githubsaturn opened #97 "Relax healthcheck"
There are 2 problems with healthcheck:

- it kicks in only after 30sec. On slower systems, the app creation process takes longer and it causes continuous crashing. This should be changed to 1min.
- it relies on `localhost` DNS resolution, it may cause problems on systems with multiple network interfaces. This should be changed to `127.0.0.1`. (this is not as critical as the first issue, but it's a

[2019-03-04 15:36] salus-sage opened #98 "How to edit source code and re-build the application"
Say in case i want to change the logo, or the theme of the admin UI

[2019-03-05 11:32] Guillaume175 commented on #48
@rabira-hierpa Comment as-tu résolu ton probléme ? j'ai le meme souci de connexion... utilises-tu Portainer pour administer tes containers ?

[2019-03-05 14:01] lauriejim commented on #48
@Guillaume175 can you post/edit your message in english please.

[2019-03-06 07:11] anitricks commented on #49
same problem with latest strapi installed. strapi in docker on ecs

[2019-03-16 13:20] botzill opened #102 "Possibility to run custom scripts on startup"
Hi.

I was wondering if you plan to add some custom scripts that can be plug in and run after the app was started. Such a script could create automatically api via `strapi generate:api` or any other command. This way we can easily startup with already defined resources types. If you plan to add such feature I can make PR.

Let me know what you think about it.

[2019-03-17 03:43] MatteoGioioso commented on #73
Same issue either with subfolder or subdomain

[2019-03-17 05:08] MatteoGioioso commented on #73
Ok, after 2 days I have solved it 🙏 .

Make sure on the docker-compose to change this environment key:
in my case I make it work through sub-domain, but I think it should work without a subdomain

[code]

and then in your strapi config `server.json`

[code]

[2019-03-18 18:36] lauriejim commented on #102
Hello!
The feature you need is powered by the `./config/bootstrap.js` file.
This function is called just before the start of the server. In this function you will access to all the Strapi application functions.
Hop it help.

[2019-03-19 18:09] groteck commented on #75
I think you are missing PostgreSQL configuration

[code]

[2019-03-19 19:18] groteck commented on #66
This is related to the Postgress template needs to be a bool and on the strapi generated template it is loaded as strings change your `project_name/config/environments/production/database.json`

[code]

[2019-03-19 20:28] zakthompson commented on #94
I'm having exactly the same issue with nginx-ingress in a DigitalOcean Kubernetes cluster - white screen when trying to create a new user.  I've tried the solutions presented in [#2424](https://github.com/strapi/strapi/issues/2424) but the issue persists, and I'm wondering if it could possibly be related to the dockerized version specifically

[2019-03-19 21:15] anindoasaha commented on #80
Here's what worked for me:
`docker-compose.yml`

Add a volume for MongoDB:
[code]

Reference it in the db section:

[code]

[2019-03-20 15:10] botzill commented on #94
Hi @zakthompson, I have the same setup as you and have the same issue, did you manage to find a solution?

Thx!

[2019-03-21 17:06] lauriejim commented on #14
Can you give us an update please.

[2019-03-21 17:07] lauriejim commented on #18
Can you give us an update please.

[2019-03-21 17:09] lauriejim commented on #19
Can you give us an update please.

[2019-03-21 17:11] lauriejim commented on #25
Can you give us an update please.
Based on last version of files.

[2019-03-21 17:20] lauriejim commented on #30
Here is an example https://github.com/strapi/strapi-docker/pull/99

[2019-03-21 17:20] #30 closed

[2019-03-21 17:24] lauriejim commented on #32
Can you give us an update please.
Based on last version of files.

[2019-03-21 17:25] #35 closed

[2019-03-21 17:25] lauriejim commented on #40
I am closing this issue because we don’t have any updated/needed information regarding it.
Will reopen it if activity come back.

[2019-03-21 17:25] #40 closed

[2019-03-21 17:27] lauriejim commented on #42
I am closing this issue because we don’t have any updated/needed information regarding it.
Will reopen it if activity come back.

[2019-03-21 17:27] #42 closed

[2019-03-21 17:28] lauriejim commented on #43
I am closing this issue because we don’t have any updated/needed information regarding it.
Will reopen it if activity come back.

[2019-03-21 17:28] #43 closed

[2019-03-21 17:29] #46 closed

[2019-03-21 17:29] lauriejim commented on #48
Can you give us an update please.
Based on last version of files.

[2019-03-21 17:30] #50 closed

[2019-03-21 17:31] lauriejim commented on #50
The link is not correct.

[2019-03-21 17:34] lauriejim commented on #60
The rebuild is different than the update version.
So to keep your project consistence by the version of all dependencies (admin, plugins) we have to commit them.
As you can customise these parts you will have to same it.

[2019-03-21 17:34] #60 closed

[2019-03-21 17:37] #66 closed

[2019-03-21 17:37] lauriejim commented on #69
I am closing this issue because we don’t have any updated/needed information regarding it.
Will reopen it if activity come back.

[2019-03-21 17:37] #69 closed

[2019-03-21 17:39] guushamann commented on #50
Hi , do not know why, but here is the link to the gist

https://gist.github.com/guushamann/6fec5c073e2edb6579e8060e7e7f3bd9

[2019-03-21 17:45] #73 closed

[2019-03-21 17:46] lauriejim commented on #78
I am closing this issue because we don’t have any updated/needed information regarding it.
Will reopen it if activity come back.

[2019-03-21 17:46] #78 closed

[2019-03-21 17:46] #80 closed

[2019-03-21 18:28] lauriejim commented on #84
Can you give us an update please.
Based on last version of files.

[2019-03-21 18:29] lauriejim commented on #88
No sorry. We need more example about how deploy Strapi in generale and for Docker use like AKS or ECS for AWS

[2019-03-21 18:29] #88 closed

[2019-03-21 18:32] lauriejim commented on #89
Can you give us an update please.
Based on last version of files.

[2019-03-21 22:47] zakthompson commented on #94
@botzill Yes, that's how I set the headers, and the `X-Forwarded-Host` header is showing in my requests after adding that.  Nonetheless, the response is still masked and I still get the white screen.  Haven't found a solution yet

[2019-03-22 04:07] botzill commented on #94
I see. Thx @zakthompson.

Let's see if we find a solution here.

[2019-03-22 08:54] lauriejim commented on #93
I think it's related to docker documentation and not specific to Strapi.
But it can useful to have this information quickly when you start with Strapi docker.
Feel free to submit a PR!

[2019-03-22 08:54] #93 closed

[2019-03-22 09:17] lauriejim commented on #95
Feel free to submit a PR to add this feature.
We will appreciate your contribution on this issue.

[2019-03-22 09:37] lauriejim commented on #97
This is due to the software you use, the health check have to be used when the app is started and not during the creation process 🤔

[2019-03-22 09:51] lauriejim commented on #98
I suggest you to follow this documentation https://strapi.io/documentation/3.x.x/advanced/customize-admin.html#customization

And then to package your app in a container.

[2019-03-22 09:51] #98 closed

[2019-03-22 11:43] botzill commented on #95
Already did a PR for this: https://github.com/strapi/strapi-docker/pull/96. We can close this one.

[2019-03-22 14:44] githubsaturn commented on #97
I agree. The health check should not kick in during the strapi creation. Health-check, however, is part of the docker image. Docker image is already created when the Strapi app is being created.

This is a problem with the way health-check is defined in the docker file.

[2019-03-22 15:18] lauriejim commented on #97
Ho okay. Feel free to investigate and submit a PR.
We are focus on other topic (main focus on the strapi/strapi repo)

[2019-03-22 15:19] lauriejim commented on #97
We will appreciate your contribution on this issue.

[2019-03-22 15:19] #95 closed

[2019-03-22 15:19] lauriejim commented on #95
Perfect, thank you!

[2019-03-22 20:59] sorin89 opened #103 "How to use NODE_ENV=production"
Hello.
strapi-docker always starts in development (info Environment: development), cannot make it start with NODE_ENV=production

[2019-03-25 21:37] FDiskas commented on #32
I got the same error but in different project.
In my case there was error in conection string
was missing this:
[code]
It could be related to this issue to: https://github.com/strapi/strapi/blob/a42c2a483ca6e35a25c7d214bedd2e0cefc48dbb/packages/strapi-hook-mongoose/lib/index.js#L89

[2019-03-26 08:08] facundofarias commented on #103
By using this repo as a reference, I have built my own Dockerfile by only using npm, in that way I can specify the environment. I believe is the way to go. If you want @sorin89 I can share it in a separate repo.

Cheers

[2019-03-26 13:29] sorin89 commented on #103
It would be great if you could share your repo! Thank you so much!

[2019-03-26 18:23] CMatias opened #106 "Unable to load data after container restart"
So, my admin panel was throwing some error and leaving Strapi unusable so I rebuilt the containers (`docker-compose down && docker-compose up -d`).

Upon restart I needed to create a new admin user and all the data previously inputted was lost. The data still lies in the `db` volume but the strapi database created in mongo is empty. The content-types are also loading properly.

My docker-compose f

[2019-03-27 09:57] mmoustai commented on #106
I had the exactly same issue yesterday.

I added some log. Hope this can help debugging us.

`TypeError: Cannot read property '_id' of null
    at module.exports (/usr/src/api/strapi-app/plugins/users-permissions/config/policies/permissions.js:51:16)`

`Stopping strapi
(node:18) DeprecationWarning: collection.ensureIndex is deprecated. Use createIndexes instead.

(node:18) UnhandledPromiseRejectio

[2019-03-27 12:08] CMatias commented on #106
I was unable to grab that log but can confirm it was the same problem.

[2019-03-28 12:58] lauriejim commented on #106
What is the Strapi version you use please.

[2019-03-28 13:50] CMatias commented on #106
@lauriejim
[code]

[2019-03-28 16:37] Laazarus opened #107 "strapi image created under root user"
Hello, I am sorry if this is not a problem, it could be me being very expert on strapi (I am evaluating it for a project I have to start) and Docker ( i have used it only a couple of times).

When I run docker-compose up command everything goes well and the environment get set up and run fine my only problem is that the strapi app folder and the db folder are created under the root ownership makin

[2019-03-31 19:52] FDiskas commented on #103
`export NODE_ENV=production`

[2019-04-01 20:30] asotoglez commented on #42
any solution?

[2019-04-02 00:47] FDiskas commented on #107
“Running a Docker container as a non-root user” by Lucas Wilson-Richter https://link.medium.com/19C6L1OTxV

[2019-04-03 10:44] Laazarus commented on #107
Thanks I am trying a bit everything but I could not still figure out a way to make thing fully working.
After the creation I change the owner of the volume in the host machine using this command
`sudo chown -R $USER`
This seems to work  fine the only issue I am having is the host folder the strapi folder under npm module is not present.
This is a problem because i I want to install aws file upload

[2019-04-04 17:46] petarmihaylov commented on #103
You can add
`- NODE_ENV=production`
to the environment section of the `docker-compose.xml` file:

[code]

[2019-04-06 01:37] MatteoGioioso commented on #14
Since there is this problem, how can we migrate the named volume into our production server?
I was reading here for possible solutions: https://docs.docker.com/v17.03/engine/tutorials/dockervolumes/#backup-restore-or-migrate-data-volumes

Any suggestion? Would you consider to implement it in this repo? I could help if needed

[2019-04-08 07:48] #103 closed

[2019-04-14 02:47] RedactedProfile opened #110 "Azure deployment with Azure Container Instance halted by "Installer" process"
Trying to deploy a basic `strapi/strapi` image via Azure Container Instance, with this command

(connection values redacted for obvious reasons)
`az container create --resource-group csg --name csgcms --image strapi/strapi --restart-policy OnFailure --environment-variables "APP_NAME"="CMS" "DATABASE_HOST"="***.***.***.***" "DATABASE_PORT"="3306" "DATABASE_NAME"="***" "DATABASE_USERNAME"="***" "DAT

[2019-04-14 05:11] MatteoGioioso opened #111 "Npm run setup"
Looks like is not possible to run `npm run setup` with the current setup, I have tried to modify the script by adding:
[code]

but no luck, the strapi container crash at start time
[code]

Any suggestions?

[2019-04-16 10:51] lauriejim commented on #110
Hello!

You forgot the `DATABASE_CLIENT`

[2019-04-16 14:45] RedactedProfile commented on #110
@lauriejim by jove, you're right

Im 1000% positive I had the database client env var in there at some point but must have got missed in the move to using the azure cli.

Thank you, I will give this a shot

[2019-04-16 19:39] lauriejim commented on #110
Okay great! Let me know to close this issue.

[2019-04-19 21:32] bobaekang opened #114 "Adding some custom Strapi setup using Dockerfile"
I'm trying to create a customized strapi image that uses the official `strapi/strapi` image as base and adds a few basic custom setups.

More specifically, I'd like to do the following:
* Use custom `public/index.html` and `public/robot.txt`
* Scaffold APIs using `strapi generate:api` command
* Install plugins using `strapi install` command
* (if possible) add some default roles with custom permis

[2019-04-24 21:12] Truemedia opened #115 "Cannot connect to db (mongo) when use docker-compose.yml"
I seem to be having problems using strapi as a container in a custom box I'm building.

Here is my docker-compose.yml
[code]

Mongo seems to load fine but when the strapi install starts it seems to only get as far as this:
[code]

Iv'e checked out all other open/closed issues relating to db but none seem to point to a working solution for this. Any ideas? thanks

[2019-04-26 20:46] p0fi opened #116 "Cannot connect to db (mongo) on AWS Fargate"
I can't connect to to MongoDB when running the container on AWS Fargate. I enabled debug logs and that is what I get:

[code]

As I understood on AWS Fargate all containers share the same network space so the db host should be localhost. Here is my `docker-compose.yml`

[code]

Does anybody know how to resolve this?

[2019-04-27 01:31] MatteoGioioso commented on #111
up!

[2019-04-27 22:29] icarlosmendez opened #117 "Container fails to start due to existing database"
I have set up strapi successfully via a docker-compose.yml file. Below you can see the service definitions for the two services in question.

postgres_server:
    build:
      context: ./postgres_server/
      dockerfile: postgres.Dockerfile
    image: postgres_server
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: dbpass

[2019-04-27 23:07] icarlosmendez commented on #117
Some additional information regarding this issue and possible solutions:
I managed to pause the service which was generating tons of console information to try and give myself a chance to respond to the query and the pause was successful.
But as you can see below, the container or the application itself is restarting pretty much immediately once the query presents.

`my-app-template_strapi_api_1 e

[2019-04-29 03:42] Amdingo commented on #115
When you say mongo "loads fine" can you provide the mongo log as well?

Where are you loading this that its failing? i.e.  Virtualbox, AWS, Hyper-V?

[2019-04-29 12:05] lauriejim commented on #111
Hello! Never tried and I haven't the time for now.
Hop the Strapi community can help you on this point.

[2019-04-29 12:12] lauriejim commented on #117
Hello!

You can add `--dbforce` option in your `strapi new` command.
📚Documentation here https://strapi.io/documentation/3.x.x/cli/CLI.html#strapi-new
In the docker config there is an option for extra argument like this one.

[2019-04-29 12:12] #117 closed

[2019-04-29 13:16] sseypt opened #118 "Unable to setup local build environment"
Hi.

I tried to setup a local environment (to contribute to the project) following the [strapi/CONTRIBUTING.md](https://github.com/strapi/strapi/blob/master/CONTRIBUTING.md)

I setup `strapi` for local builds using `boot2docker` and the `node` image used in [strapi-docker](https://github.com/strapi/strapi-docker).

I did not use shared folders to avoid filesystem problem with the windows host.

I

[2019-04-30 14:57] Truemedia commented on #115
Hi, I'm using this on an ubuntu box with virtualbox. Will post the mongo log once I get off work.

[2019-05-10 04:08] Amdingo commented on #115
Sorry, don't use a named volume for virtualbox and mongodb, they don't play nice. https://github.com/docker-library/mongo/issues/74

[2019-05-10 12:53] janober commented on #106
More or less same issue here. Everything I created yesterday is somehow lost today.

(Current docker-compose file with Strapi v3.0.0-alpha.26.2 on Ubuntu 18.04.2)

[2019-05-10 13:05] janober commented on #106
Update: Interestingly it is back now?!?! Created a new admin-user and DataType to test another issue I had. Then turned everything off with "docker-compose stop" and started it again with "docker-compose up" and the data from yesterday was back. Now however the test-data from just before is gone but I am OK with that.

[2019-05-15 14:27] Laazarus commented on #116
It is happening to me too. I am trying to deploy through beanstalk and I have can test the docker running locally using the Dockerrun.aws.json translation of the docker file (And then running eb local run)
Everything works fine but when i deploy on the aws Beanstalk environment the application gives that error (for me gives it for Mysql)...

Any Idea?

[2019-05-16 09:44] Laazarus commented on #116
This is the error that I am getting when the Containers get created
[code]
Any help would be very appreciated

Regards

[2019-05-19 11:22] dkarski commented on #111
@MatteoGioioso I tried localy run script with setup command and it's work. Could you share your complete script?

`$APP_NAME` is defined?

[2019-05-24 09:03] songoten28 commented on #106
You change like this if you want to keep data
`    db:
    image: postgres:11.1
    environment:
      - POSTGRES_PASSWORD = postgres
    ports:
      - 5432:5432
    volumes:
     - "database_volume:/var/lib/postgresql/data"
    restart: always
volumes:
  ? database_volume`

or change like this

` volumes:
     - "./db:/var/lib/postgresql/data"
`
This way just for purpose for test.

[2019-05-24 14:37] CMatias commented on #106
@songoten28 The problem was not that the data was lost (data deleted from the database) but rather that Strapi wasn't able to fetch data from the database.

[2019-05-25 07:20] vinayagg commented on #28
@Aurelsicoko I am also interested in this, but I can help too.
I have been a enterprise architect for years, I am an expert in docker and kubernetes and I have also done startups.
I can have a call with your backend developer (if it helps) to come up with a solution that will work with docker and kubernetes. (message me if interested)
My interest is only that I want to use it in docker/kubernetes.

[2019-05-25 08:18] jakubknejzlik commented on #28
@vinayagg it would be awesome if I can join this call too (if it happens). We are using kubernetes in large portion of our project and this is the only issue that discourage us from using the strapi.

[2019-05-28 23:00] diegoTiscareno opened #119 "GraphQL plugin restart cycle due Strapi version"
Using this image as a base to run an existing Strapi project using the GraphQL plugin seems to be incompatible. I ran into an issue where Strapi keept trying to restart the application due to detected changes in the generated GraphQL schemas:

[code]

After poking around at the issue, I found that [this](https://github.com/strapi/strapi/blob/master/packages/strapi/bin/strapi-start.js#L55) line in

[2019-05-31 22:45] bobaekang commented on #114
I recently gave another try at this and here is [a repo for that](https://github.com/bobaekang/strapi-docker-with-setup).

In that repo, I 1) use a custom index.html and 2) run shell scripts inside the container to install `graphql` plugin as well as create some content types using strapi CLI.

I'm closing this Issue since I now know the basics of containerizing strapi with some simple custom setu

[2019-05-31 22:45] #114 closed

[2019-06-13 04:56] botzill opened #123 "Deploy latest image on docker hub"
Hi.

I noticed that docker hub version is always behind the official release. Can we make some kind of automation keep them in sync?

Thx.

[2019-06-14 15:36] apollocoder commented on #123
I forked the repo and added support for strapi@beta:

https://github.com/apollocoder/strapi-docker

Had to include some dubious `npm rebuild` to get the admin build working (`strapi build`). Feedback would be very welcomed! :)

[2019-06-15 12:39] secretlifeof commented on #123
@apollocoder thank you. Have you tested your docker setup with postgreSQL 11? In the admin panel the first user is not added, I cannot add any more users and the administration role is missing.

Any thoughts on the cause of this?

See #121

I have tested this on local machine and on Kubernetes, production and development env with same results.

[2019-06-17 03:06] Mirdrack commented on #116
Not exactly, even when all your containers are running in the same network they are not in the same machine.
Your containers gets an ip(even in your local) and you must refer them through ip addresses or hostnames.
Not sure about how Faregate discovery works but your database is not `localhost`.
You only can use `localhost` in your db hostname when both services are in the same machine.

[2019-06-17 08:12] apollocoder commented on #123
@secretlifeof No, I'm sorry. We're using mongo at the moment and I don't have the resources to test it with other providers.

[2019-06-18 22:54] rrubio commented on #123
Hi Guys!

Will docker be upgraded to beta soon?

[2019-06-19 11:51] shnigi commented on #94
Getting the same error.

[2019-06-20 20:08] webcoderkz opened #125 "npm run build fails when using in a docker container"
Strapi version: 3.0.0-beta.6
Node: 12

Locally works ok, but inside a docker container, it cannot build an admin panel.

Dockerfile contents:

[code]

strapi.sh contents:

[code]

On the step - `NODE_ENV=production npm run build` - it's failing with following errors:

[code]

[2019-06-21 17:49] dvanblaricom commented on #125
Same issue here, exact same configs, however, i even tried adding in a few alpine packages;

RUN apk update \
    && apk add --no-cache \
    bash \
    build-base \
    gcc \
    libtool \
    autoconf \
    automake \
    pkgconfig \
    nasm \
    lcms2-dev \
    libpng-dev libjpeg-turbo-dev giflib-dev tiff-dev \
    zlib-dev \
    && rm -rf /var/cache/apk/*

Seems like alpine will not run pngq

[2019-06-21 18:05] heihachi88 commented on #125
@dvanblaricom i switched to `node:11.5.0` normal, and build is sometimes work and sometimes doesn't, seems like some kind of timeout is happening, could you try a default `node:11.5.0` image without installing any additional packages?

[2019-06-21 18:20] dvanblaricom commented on #125
Agree with the Vue statement! I am currently attempting the build with node:latest and I still get the same error. i did have it working with ubuntu:bionic and strapi beta 5 with installing gnupg and curl, but when i just went back to using that and strapi beta 7, i am still getting the error. I think it might be strapi beta 7

[2019-06-21 18:21] heihachi88 commented on #125
Have you tried beta6? I had these issues with 5, 6 beta's for now.

[2019-06-21 18:23] dvanblaricom commented on #125
I have not, it might be node 11 as well as https://github.com/strapi/strapi/issues/3506

[2019-06-21 18:24] heihachi88 commented on #125
Can you try node:10 image?

[2019-06-21 18:25] dvanblaricom commented on #125
yes, trying Node:10 with beta.7 now

[2019-06-21 18:31] dvanblaricom commented on #125
same error for me

[2019-06-21 18:37] heihachi88 commented on #125
I'm building mine, meanwhile, how many cores/ram you allocated for docker?

[2019-06-21 18:37] heihachi88 commented on #125
![image](https://user-images.githubusercontent.com/5739191/59944191-f6948300-9485-11e9-84a6-a555e5f224fa.png)

[2019-06-21 18:38] dvanblaricom commented on #125
2 cores, 2GB memory and 1GB swap currently on my local machine

[2019-06-21 18:39] heihachi88 commented on #125
Have you tried to clean npm caches? The link you provided, a guy mentioned this.

[2019-06-21 18:39] heihachi88 commented on #125
There's my docker settings:

![image](https://user-images.githubusercontent.com/5739191/59944318-3eb3a580-9486-11e9-96f5-dc7f8f71e784.png)

[2019-06-21 18:42] dvanblaricom commented on #125
trying with beta.7, node:10 and added
RUN npm cache clean --force
RUN npm cache verify
RUN npm install

[2019-06-21 19:00] heihachi88 commented on #125
Just found: https://github.com/strapi/strapi/issues/3383, it's related to ram i guess.

[2019-06-23 17:57] frankxayachack commented on #30
I've created a repo of Strapi Docker using MySQL database you can just clone and edit some configs in docker-compose.yml then you are good to go
[https://github.com/frankxayachack/strapi-mysql-docker](url)

[2019-07-01 08:06] shnigi commented on #94
Solved in our project: proxy headers problem in kubernetes ingress-nginx was to add a ConfigMap to the ingress-nginx service (in ingress-nginx namespace):

[code]

[2019-07-01 10:18] cchew commented on #89
If anyone else is having issues with Quickstart on MacOS:

[code]

This will create a folder off your `/User` folder (which is what was causing the issue for me). Then update `docker-compose.yaml` under `'db'`:

[code]

Then run `docker-compose up`.

[2019-07-02 03:07] rjain15 commented on #125
I am running into getting strapi-docker started. I have added two providers in the strapi.sh

[code]

And when I start `docker-compose up`, I get `lodash` not found, and I believe this is still something to do with not able to install the modules. I have bumped up the docker daemon memory 3 GB, CPU - 4s, SWAP 1 GB

[code]

[2019-07-02 03:16] rjain15 commented on #125
On GKE (Kubernetes) when I run the same docker image, I get the error message
`Error loading the local develop command. Strapi might not be installed in your "node_modules". You may need to run "npm install"`

[2019-07-02 18:04] rjain15 commented on #125
I changed the strapi-sh to the following and now I am able to run it in docker/kubernetes.
[code]

[2019-07-04 07:01] mogensgrosen opened #126 "Problem using lifecycle callback"
Hi. I am relatively new to strapi and have a problem using (or understanding) life cycle callback.
I have a simple use case: the user enter income1 and income2 and afterwards calculates and stores total as the sum of income1 and income 2.
What I did:
I installed strapi using the the quick-start option.
I created a model with income1, income2 and total
I inserted the following code in beforesave li

[2019-07-04 16:15] lauriejim commented on #126
Hello! Yes there is issues with the way life cycle is used in Strapi.
The first call is to create the entry and the second for the update of relations (even if you don't have relations)
I suggest you to add a condition to make sure your `income1` and `income2` exist before updating your `total` attribute.

[2019-07-04 16:15] #126 closed

[2019-07-05 06:23] mogensgrosen commented on #126
Hello lauriejim
I still have a problem on creating simple calculated field.

I changes the beforeSave to this
beforeSave: async (model, attrs, options) => {

    if (attrs.income1 != undefined) {
       attrs.total = attrs.income1 + attrs.income2;
     }

    console.log( "before save income1: ", attrs.income1);
    console.log( "before save income2: ", attrs.income2);
    console.log( "before sav

[2019-07-05 15:44] lauriejim commented on #126
Ho okay!
In fact the log value doesn't affect the cause before your value is not saved in your database on the creation.
It's because if you don't send `total` attribute in the request, you will not be able to update it.
When you send the create data, you don't send `total` attribute. So you can't update it.
In the update, the `total` is sent as `null` value. This is the reason why you are able to

[2019-07-06 12:48] mogensgrosen commented on #126
Hello again
I tried to insert 0 in the total field (manually and default value) and I get the same result: Total is not inserted. When updating a record it works. Please guide me.

[2019-07-10 13:41] mastix commented on #123
Cool stuff. Thanks. You should update the README with the correct clone URL. I've almost copied the wrong URL. :)

[2019-07-11 13:36] dkarski commented on #10
@lucaperret why should be `localhost`, so how to change `host` to some domain name where application is hosted? File plugin output url reference by localhost then domain.

[2019-07-12 10:30] mastix commented on #125
Can someone summarize what the current issue was/is so that the admin panel can not be built? In general I assume it's still an issue with the current beta (beta.11), right?

I've tried several configurations and now I'm down to beta.7, with node-10 and I had to delete my application to have it created with the aforementioned beta. THIS WORKS.

Does anyone have an idea why this issue is occuring?

[2019-07-12 21:17] rjain15 commented on #125
Ok, I tried to add few plugins and recreate the admin panel if I run `strapi dev`. It works when you are running production. Not sure if you have tried using dev or production?

[2019-07-16 12:42] apollocoder commented on #123
@mastix Thanks! :) I've just updated the url.

[2019-07-17 13:34] imbr commented on #123
@lauriejim Hello, when can we expect a new version with strapi@beta? ;)

[2019-07-20 20:50] HendrikRoth opened #127 "Module connectivity.js not found (mongoose)"
Tried to run the latest strapi/strapi docker image. Any ideas?

[code]

[2019-07-20 21:26] HendrikRoth commented on #127
found the issue: https://github.com/npm/npm/issues/16661
(my docker network had no access to the internet)

[2019-07-20 21:26] #127 closed

[2019-07-25 08:14] tspycher opened #128 "getting mongo error during database initialisation"
This is the output from the docker image which i'm using on my Kubernetes Cluster with mongo atlas:

[code]

My container configuration looks like this:

[code]

[2019-07-26 11:11] tspycher commented on #128
i had to remove &w=majority at the end of the DATABASE_HOST environment variable

[2019-07-26 11:11] #128 closed

[2019-07-28 21:26] promek commented on #123
Hi,
@apollocoder,  I reviewed https://github.com/apollocoder/strapi-docker.
I set the default setting of DATABASE_CLIENT parameter to sqlite.
I added the START_PARAMS parameter. so it can be used as a dev/start,
and I've uploaded the docker file to https://hub.docker.com/r/promek/strapi.
For sqlite it can simply be executed like this:
docker run -d --name apitest \
    -v strapi-app:/usr/src/api \

[2019-07-30 03:46] brandonhudson opened #130 "Increase Docker Health Check Startup Length"
Hello,

I recently deployed Strapi to our Swarm cluster as a service and was running into health check issues where the service was killing the containers prior to it fully starting up. The container was taking longer than 30 seconds to start, and the health check timer was being tripped.

As such, I'm recommending increasing the health check start time (here: https://github.com/strapi/strapi-dock

[2019-07-30 03:47] brandonhudson commented on #130
Happy to submit a PR for this if you'd like. Just wanted to gauge thoughts prior to doing so.

[2019-07-30 06:48] tomeady opened #131 "502 Error when changing port"
There should be a way to restrict access to the environment panel in settings. If the container is deployed behind nginx-proxy (for a client), they will have access to those settings and ruin the deployment. To elaborate:

- The container is deployed and the app runs on port 1337.
- Nginx-proxy wraps this with a provided VIRTUAL_PORT of 1337.
- The user changes the port to 1338.
- Nginx proxy now

[2019-08-01 13:27] #131 closed

[2019-08-01 13:29] tomeady commented on #123
updates?

[2019-08-03 03:57] ngprnk opened #133 "Database connection has failed! Make sure your database is running."
**Describe the bug**
Error
` Database connection has failed! Make sure your database is running.`

**Steps to reproduce the behavior**
Please see the  Dockerfile below.
1. docker build -t strapi .
2. docker run -p 3000:3000 strapi:latest

**Expected behavior**
Should work
**Screenshots**
<img width="1007" alt="Screen Shot 2019-08-03 at 1 55 18 PM" src="https://user-images.githubusercontent.com/557

[2019-08-05 14:49] adnoh commented on #80
Why is this closed when it is not fixed? A new user like me wanted to try out strapi - is going away after it isn't working with a simple docker ....
The workaround from anindoasaha is good - why not merging it in?

[2019-08-05 15:26] Wulfheart commented on #80
It seems that he hasn't made a pull request. Maybe you could make one. This should be a quick one.

[2019-08-06 05:38] LorhanSohaky opened #134 "Standard Starpi email plugin not working"
**Describe the bug**
I request to send email but it is not sent.

**Steps to reproduce the behavior**
1. At `strapi-app/plugins/email/controllers/Email.js` replace `await strapi.plugins.email.services.email.send(options, config);` for
[code]
2. Run `docker-compose up`
3. Go to http://localhost:1337/admin/plugins/users-permissions/roles, enable the public to send email.
4. Make request to http://lo

[2019-08-07 17:23] jimdesalvo opened #132 "Database password file ENV var"
Allow the DB password to be set from a file so docker secrets can be leveraged and keep it from being exposed in a docker inspect.  Similar to the functionality found in the Wordpress official image.

[2019-08-08 13:57] lauriejim commented on #134
Hello! make sure your server is able to send emails.

[2019-08-08 18:24] LorhanSohaky commented on #134
What do I need check?

[2019-08-09 13:59] kubal5003 opened #136 "Incorrect admin panel routing while running in kubernetes/docker"
**Describe the bug**
Admin panel crashes with 404s on main.js and vendor.dll.js.

**Steps to reproduce the behavior**
1. Generate docker image out of a new strapi application using the Dockerfile below
[code]
3. Run the application and navigate to /admin
4. Admin panel html loads, but the paths to vendor.dll.js and main.js are relative toward the root of the application instead of the admin panel

[2019-08-12 04:21] iicdii opened #137 "Once new content type is created, cannot enable WYSIWYG for fields."
**Describe the bug**
Once new content type is created, cannot enable WYSIWYG when you edit text field.
I tested with both following general installtaion using `npm install -g strapi` and `getstarted` example in this repository.

**Steps to reproduce the behavior**
1. Go to Content Type Builder menu.
2. Add new content type with default setting (just name)
3. Add `text` field with default setting (

[2019-08-13 23:50] ngprnk commented on #133
None of the provided solutions worked for me so i rolled a custom one

[code]

[2019-08-19 20:18] Gerche opened #139 "Error when trying to run containers on bridge network"
I'm new to docker and I am trying to connect my front-end (also running in a docker container) to strapi. To do so I believe they should run on the same docker network. I've tried adding `network_mode: bridge` to both my services in the docker-compose.yml file to run them in the same network as my front-end.

However for some reason I now get the following error:
`
api_1  | [2019-08-19T19:54:51.97

[2019-08-21 08:20] botzill commented on #123
Hi guys.

Any updates on this one? We really need the latest version on docker hub.

Thx.

[2019-08-27 23:05] GPavlovic opened #140 "Admin panel running on wrong port in Docker on MacOS"
When I run Strapi within Docker on MacOS, the admin panel seems to run under a different port than usual (on Windows the port is 1337 as expected). This is a clean image, I haven't changed any of the config. Any idea what could be wrong?

![Screen Shot 2019-08-27 at 6 58 22 PM](https://user-images.githubusercontent.com/5474337/63814070-a4e0fc80-c8fd-11e9-9b9a-e32cefac753f.png)

[2019-08-29 09:57] spijs opened #141 "Cannot find module 'lodash'"
I'm trying to set up strapi using docker compose with following configuration :

When I attach myself to the container I see the following output:

[2019-08-29 12:09] spijs commented on #141
adding `RUN npm install lodash` as a second step in my Dockerfile seems to (temporarily solve the issue)

[2019-08-29 15:02] spijs commented on #141
Apparently this has to do with previous runs of the build. Once I removed the associated volumes and let it fully retry it worked :)

[2019-08-29 15:02] #141 closed

[2019-09-09 17:33] gregorskii commented on #125
This would be a lot simpler if it wasn't using image minification for production, or didn't use alpine.

I swapped to node-slim and it worked fine. I had to copy over the healthcheck and strapi.sh to my project, and setup the Dockerfile myself.

[2019-09-10 01:04] izzuddinnatsir commented on #139
Try to move db service/container as the first service and api service as the second

[2019-09-12 09:20] kubal5003 opened #143 "[Request for help/explanation] How should strapi actually get deployed to production?"
I found Strapi deployment to be puzzling at least.

I started with official Docker image and tried deploying it. Everything is fine for a demo run, but then this image is simply not useful or I have no idea how to make use of it. Why is that image even there if all the useful code is then generated in the mounted filesystem?

After generating my Strapi application I figured that I should prepare a

[2019-09-19 10:40] daehruoydeef commented on #123
I also updated the Docker container and it is working fine so far, any updates when this becomes official?

[2019-09-19 17:33] amartincolby opened #144 "nodefs-handler error"
**Describe the bug**
A nodefs-error in a package called Chokidar causes an error to return from Docker runs.

**Steps to reproduce the behavior**
1. Download Strapi in Docker
2. Try to build a Docker container
3. See error in terminal

**Expected behavior**
Docker should run the application.

**Screenshots**
[code]

**System**
- Node.js version: 10.16
- NPM version: v6.9.0
- Yarn version: v1.17.3

[2019-09-28 09:06] WillsonHaw commented on #143
Make sure you have the correct folder specified in the volume when running your docker container:

[code]

If set up correctly, the generated code should now be in your `./api` folder, which you can commit.

[2019-10-06 20:09] BillMeyerRSA commented on #115
I used the standard docker run strapi:strapi
Was running fine. Created a second collection and then it went into the strapi container never starts up to running state. docker ps shows
`Up x seconds (health: starting)`
And then just starts again, repeating never gets running

[2019-10-10 04:54] msreekm opened #146 "azure container instance + postgres fails Testing database connection...database overwrite warning"
Get this error ,but I cannot confirm that since it is in docker image , how do I pass a env variable to default to yes and does this mean everytime a container is stopped and restarted ,data is lost?
Testing database connection...
It might take a minute, please have a coffee ☕️
🤔 It seems that your database is not empty. Be aware that Strapi is going to automatically creates tables & columns, and

[2019-10-10 04:56] msreekm commented on #143
Agree ,documentation is so confusing on deployment to production.

[2019-10-10 05:04] msreekm commented on #117
where do we add --dbforce when you are runinnig in docker container?  is that a env variable?

[2019-10-15 09:18] rcollette opened #148 "Cannot install quickstart beta"
**Describe the bug**
Error during quickstart installation

[code]
**Steps to reproduce the behavior**
Create the Dockerfile

[code]
Build the Dockerfile with `docker build -t strapi .`

**Expected behavior**
Should be created without error.

[2019-10-15 09:18] #148 closed

[2019-10-22 18:14] roycornelissen commented on #143
@WillsonHaw @kubal5003 I guess we're looking for the other way around... Let's say you have created those files and put them into a Git repo. Now I want to deploy that to a cloud provider... how to create an image from that?

@kubal5003 did you get any further with that? I'm just as confused. I really like Strapi as a concept and local development works fine. Only the confusing documentation on ho

[2019-10-23 08:32] alexandrebodin commented on #146
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:32] #146 closed

[2019-10-23 08:32] alexandrebodin commented on #144
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:32] #144 closed

[2019-10-23 08:32] alexandrebodin commented on #143
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:32] #143 closed

[2019-10-23 08:32] alexandrebodin commented on #140
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:32] #140 closed

[2019-10-23 08:32] alexandrebodin commented on #139
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:32] #139 closed

[2019-10-23 08:32] alexandrebodin commented on #137
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:32] #137 closed

[2019-10-23 08:33] alexandrebodin commented on #136
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:33] #136 closed

[2019-10-23 08:33] alexandrebodin commented on #134
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:33] #134 closed

[2019-10-23 08:33] alexandrebodin commented on #133
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:33] #133 closed

[2019-10-23 08:33] alexandrebodin commented on #132
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:33] #132 closed

[2019-10-23 08:33] alexandrebodin commented on #130
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:33] #130 closed

[2019-10-23 08:34] alexandrebodin commented on #125
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:34] #125 closed

[2019-10-23 08:34] alexandrebodin commented on #123
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:34] #123 closed

[2019-10-23 08:34] alexandrebodin commented on #119
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:34] #119 closed

[2019-10-23 08:34] alexandrebodin commented on #118
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:34] #118 closed

[2019-10-23 08:37] alexandrebodin commented on #116
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:37] #116 closed

[2019-10-23 08:37] alexandrebodin commented on #115
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:37] #115 closed

[2019-10-23 08:37] alexandrebodin commented on #111
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:37] #111 closed

[2019-10-23 08:38] alexandrebodin commented on #110
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:38] #110 closed

[2019-10-23 08:38] alexandrebodin commented on #107
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:38] alexandrebodin commented on #106
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:38] #106 closed

[2019-10-23 08:38] alexandrebodin commented on #102
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:38] #102 closed

[2019-10-23 08:38] alexandrebodin commented on #97
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:38] #97 closed

[2019-10-23 08:39] alexandrebodin commented on #94
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:39] #94 closed

[2019-10-23 08:39] alexandrebodin commented on #89
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:39] #89 closed

[2019-10-23 08:39] alexandrebodin commented on #84
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:39] #84 closed

[2019-10-23 08:39] alexandrebodin commented on #83
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:39] #83 closed

[2019-10-23 08:39] alexandrebodin commented on #75
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:39] #75 closed

[2019-10-23 08:39] alexandrebodin commented on #48
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:39] #48 closed

[2019-10-23 08:41] alexandrebodin commented on #32
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:41] #32 closed

[2019-10-23 08:41] alexandrebodin commented on #28
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:41] #28 closed

[2019-10-23 08:41] alexandrebodin commented on #25
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:41] #25 closed

[2019-10-23 08:41] alexandrebodin commented on #19
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:41] #19 closed

[2019-10-23 08:41] alexandrebodin commented on #14
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:41] #14 closed

[2019-10-23 08:42] alexandrebodin commented on #18
HI,

We just released a full rebuild of our docker image 🎉
We are closing the issues and open PRs to start fresh.

If you feel like something is missing or want to add things feel free to open new PRs ! 💯

[2019-10-23 08:42] #18 closed

[2019-10-23 08:42] webcoderkz commented on #125
@alexandrebodin please, share a link?

[2019-10-23 08:46] alexandrebodin commented on #125
Just read the updated readme ;)

[2019-10-23 10:37] jakubknejzlik commented on #28
@alexandrebodin thanks for update 🎉 . As this comment has been added to multiple recently closed issues, would you mind adding link/explanation how issues mentioned in this conversation are resolved? 🙏

[2019-10-26 04:15] msreekm opened #151 "docker image using dockerfile from example does not show content type builder"
content type builder is installed but not in menu, is it because of node_env=production in dockerfile or something else? if so, how do we run a dev and prod environment?

[2019-10-26 05:08] #151 closed

[2019-10-26 05:09] msreekm commented on #151
never mind, i found the solution is to set env variable to development

[2019-10-28 08:46] cadavre opened #152 "Unnecessary "releases""
I noticed that you make Github releases on both – `strapi/strapi` and `strapi/strapi-docker` repositories. This way you have >1 place to update the versions and it ends up with `strapi/strapi-docker` **not being updated**.

I guess we don't need releases in `strapi/strapi-docker` Github repo, because we have in on Docker Hub and in `strapi/strapi`.

Less work for you guys and less confusion for us

[2019-10-28 08:49] alexandrebodin commented on #152
Hi @cadavre, We have dropped making releases on this repo for quite a while.

As you are saying, you can just look at the docker hub tags to know what versions are availabel ;)

[2019-10-28 08:49] #152 closed

[2019-10-28 08:51] cadavre commented on #152
IMHO please remove existing Github releases to avoid confusion. :)

[2019-10-28 08:52] alexandrebodin commented on #152
@cadavre I will create a new and last release with the right links to avoid deleting work made by previous contributors ;) Thanks for the suggestion 💯

[2019-11-25 17:55] paradox42 commented on #32
Anyone else were able to reproduce this?
I had the same issue with changing docker-compose file --> `docker-compose up -d` .
Find out I'll have to manually shut the containers down `docker-compose down` and then bring it back `docker-compose up` for be able to reload my docker-compose.yml new configuration.

Here is my mongodb service config section:
[code]

[2019-11-27 22:03] cesarve77 opened #156 "Installing graphql throw error"
**Describe the bug**
Installing grapql plugin, I get "A error has occurred" (or something similar) in the admin section

**Steps to reproduce the behavior**
1. Go to Pluging
2. Click on GraphQl
3. wait

**Expected behavior**
Success message.
In Marketplace - Plugins, GraphQL pluginf appears as no installed but after refresh it change to installed. Maybe the process it taking too much (I have a fas

[2019-11-30 22:07] QuentinPi opened #158 "Admin panel is not working"
Hi,
I have a problem when I use this docker, I can't access to the admin panel.
It's always redirected to the welcome page. I think it's because the admin panel is not built.

[2019-12-03 08:45] alexandrebodin commented on #158
@QuentinPi can you share the steps to reproduce this ? I cannot seem to reproduce using the basic example in the README

[2019-12-03 08:50] QuentinPi commented on #158
I use this docker-compose.yml file https://github.com/strapi/strapi-docker/blob/master/examples/prod/docker-compose.yml and I run docker-compose up -d

If I run strapi build, admin panel works.

[2019-12-03 10:40] alexandrebodin commented on #158
As you are mounting a volume the image just runs your project as is. If it isn't built it is not going to build it :)

I'm closing this as you can automate it if you would like on your own.

[2019-12-03 10:40] #158 closed

[2019-12-03 21:31] trambi opened #159 "strapi new command does not work with alpine version of docker"
running in strapi/strapi:alpine
`strapi new . --dbclient=mongo --dbhost=192.168.1.xx --dbport=27017 --dbname=strapi --dbusername= --dbpassword= --dbssl=false`
Result in an error

It seems that building pngquant-bin needs bash, so that install bash package solve the problem `apk add bash`.

[2019-12-03 21:38] #159 closed

[2019-12-06 21:09] robnewton opened #161 "How to set database schema in docker-compose.yaml"
I want to install Strapi into a different schema than public. I tried setting DATABASE_SCHEMA in the docker-compose.yaml but it didn't have an effect. Is there a way to override this?

EDIT: Using an existing Postgres database and want to segregate the Strapi tables.

[2019-12-09 08:25] alexandrebodin commented on #161
Hi @robnewton,

the schema bust be specified in your strapi database.json settings too.

You will have to create a custom image to either copy a predefined database.json file into your project your something.

[2019-12-09 08:25] #161 closed

[2019-12-09 08:27] alexandrebodin commented on #156
@cesarve77 It seems you cannot use the install interface with a docker image. You can still run strapi install graphql by attaching to your image your just by running `yarn add strapi-plugin-graphql` in your project before starting it ;)

[2019-12-09 08:27] #156 closed

[2019-12-10 20:12] robnewton commented on #161
Ok. I am just changing the docker-compose to use a different database instead however after deleting the volumes and removing the images strapi is still starting up and recreating it's tables in the first database I provide in the docker-compose.yaml. Is there something I need to do to completely clear it out to use a different database?

To try and make sure I have a fresh slate I am doing the fo

[2019-12-10 20:27] robnewton commented on #161
Got it working. Actually needed to delete the `/app` directory used as the volume in the docker-compose.yaml:

`volumes:
      - ./app:/srv/app`

Deleted it with `sudo rm app -f -r`

[2019-12-15 20:46] agramian commented on #132
Was adding docker secret support addressed in the docker image rebuild mentioned above or should this be reopened as a new pr?

[2019-12-19 21:17] rnkhouse opened #163 "Installation error"
I am getting below error while installing latest image `strapi/strapi:latest`

    Using strapi 3.0.0-beta.18.2
    No project found at /srv/app. Creating a new strapi project
    Creating a new Strapi application at /srv/app.

    Creating a project from the database CLI arguments.
    Creating files.
    - Installing dependencies:
    Error while installing dependencies:
    warning strapi > boo

[2019-12-20 08:57] alexandrebodin commented on #163
Hi @rnkhouse,

Can you plz provide your OS, and the command you ran ?

[2019-12-20 15:21] rnkhouse commented on #163
@alexandrebodin I am running on AKS. It's a Kubernetes deployment.

    ---
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: SERVICE_NAME
    spec:
      replicas: 1
      selector:
        matchLabels:
          app: SERVICE_NAME
      template:
        metadata:
          labels:
            app: SERVICE_NAME
        spec:
          terminationGracePeriodSeconds: 30

[2019-12-23 13:54] alexandrebodin commented on #163
@rnkhouse is this sth that you can reproduice everytime ?

[2019-12-23 15:46] rnkhouse commented on #163
@alexandrebodin It worked when I increased the momory and cpu limits of the container.

[2019-12-23 15:46] #163 closed

[2019-12-23 15:49] rnkhouse opened #165 "Creating a custom Dockerfile"
I think it's better to use custom Dockerfile. But, the instructions are not clear and getting permission error in the execution of `docker-entrypoint.sh`. Also, there are no `node_modules` and `strapi` files in the container. Not sure if this is the right way to implement this:
I am using external `mysql` client for database.

Error:

**Dockerfile**

    FROM strapi/base:10

    RUN yarn global ad

[2019-12-24 09:29] alexandrebodin commented on #165
Hey,
Have you tried making the COPY to  `/srv/app` instead of `./` ?

[2019-12-26 15:48] rrubio commented on #165
I had a similar issue and swapped "yarn" for "npm" see below:

`FROM strapi/base

WORKDIR /myApp

COPY ./package.json ./
COPY ./package-lock.json ./

# RUN yarn install
RUN npm install

COPY . /myApp

RUN npm build

EXPOSE 1337

ENV NODE_ENV production

CMD ["npm", "start"]

[2019-12-30 15:52] rnkhouse commented on #165
@rrubio I tried the way you mentioned and getting this error:

    [2019-12-27T23:05:20.297Z] debug ⛔️ Server wasn't able to start properly.
    [2019-12-27T23:05:20.298Z] error Error: Missing config folder. Please create one in your app root directory
    at module.exports (/srv/app/node_modules/strapi/lib/core/load-config.js:9:11)
    at Strapi.load (/srv/app/node_modules/strapi/lib/Strapi.js:31

[2020-01-01 20:35] gabrielsoaresm94 opened #167 "Infinite loading to acesses admin dashboard with docker-compose"
**Describe the bug**
After up the docker containers with the database and strapi, when accessing the route `localhost:1337/admin` with the dashboard there is a load that does not stop.

**Steps to reproduce the behavior**
1. If you do not have Docker and Docker-compose, install with these steps: https://docs.docker.com/get-started/
2. Once installed, create a folder named `project`.
3. Create a do

[2020-01-02 10:55] lauriejim commented on #167
Hello @gabrielsoaresm94 !
I just tried your instructions and it works like a charm on my side.
[📺 Here](https://www.loom.com/share/55bb328c64bd4363bd3257a7ca60f454) is a record of what I did.
Let me know if I messed up something.

[2020-01-02 11:37] devsecur opened #168 "Error on saving changes in api"
**Describe the bug**
Created Issue here because of [4875](https://github.com/strapi/strapi/issues/4875)

After making some changing on any api in the application and on saving, I get the following error:

[code]

**Steps to reproduce the behavior**
I'm not totally sure, the last thing I did was a hasmany connection between two api "map" and "pass":

[code]

After saving, restart and changing any o

[2020-01-02 12:25] devsecur commented on #168
Found the error - I created an api called map - this leads to a new class "Map". In strapi-plugin-content-type-builder/services/schema-builder/index.js tmpComponents is defined as "Map" which is normally a list type, but in my case, it is the name of an api. But this class don't have the method "values" as Map does, so it throws an error. I see multiple solutions:

* Verify not to use reserved nam

[2020-01-02 12:29] #168 closed

[2020-01-02 22:25] gabrielsoaresm94 commented on #167
@lauriejim thanks for your support and your work to produce and up the video, I'm so glad.
But unfortunately here is still not working, I created another project to up new containers, but still failed. Is this a problem with the OS? Or with some permission?

I uploaded an image with the latest logs, but if need be I can try to make a video later. Basically redid the instructions.

![](https://i.im

[2020-01-06 07:46] alexandrebodin commented on #167
Hi @gabrielsoaresm94,

I think your issue might be because the strapi container is started before the mysql container, thus the bootstrap process that creates the user permissions cannot create them and you get a 403 error on the call to `/users-permissions/init`.

Make sure to start your container with a `wait-for`command.
You can find some example in the docker documentation [here](https://docs.

[2020-01-06 07:57] alexandrebodin commented on #165
Hello @rnkhouse,

You are running the image but do you already have a project in your host folder ?

[2020-01-07 10:08] zzkevinlim commented on #167
This issue will persist, I have found the solution here https://github.com/strapi/strapi/issues/3284#issue-445319771 (note: the json file is now a different directory)

[2020-01-07 10:22] zzkevinlim opened #169 "strapi-docker is not working on CentOS 8"
Fresh installation:
[code]

Error:
[code]

So I did what it says, went into the project folder and ran `yarn install`.

Run again:
[code]

Error:
[code]

So I did what it says, went into the project folder and ran `yarn add sqlite3 --save`.

Run again:
[code]

Error:
[code]

EDIT: This was done on a freshly created droplet.

[2020-01-07 10:31] alexandrebodin commented on #169
When you are running strapi in a docker container you shouldn't install the dependencies on the host machine but from the docker container.

It seems the first command you ran should have worked and it was just a connection issue with yarn. Have you tried deleting the project-name folder and retry ?

[2020-01-07 10:41] zzkevinlim commented on #169
Thanks for the quick response. How can I run yarn install from the container when the container does not even start to begin with?

[2020-01-07 11:08] alexandrebodin commented on #169
You can run ` docker run -it -p 1338:1338 -v `pwd`/project-name:/srv/app strapi/strapi bash`
to run bash command inside your container and run commands from there.

I don't really see why you wouldn't be able to connect to the yarn registry 🤔

Let me know what happens when you run the yarn install command from your container plz

[2020-01-07 11:31] zzkevinlim commented on #169
[code]

[2020-01-07 11:55] alexandrebodin commented on #169
This seems to be coming for issue you migth have with your dns where you are connected to the internet :/

Some old issues reporting sth similar https://github.com/npm/npm/issues/16661

[2020-01-07 12:36] zzkevinlim commented on #169
Thanks! Will return to this.

[2020-01-07 12:40] zzkevinlim commented on #169
Could this be a Docker issue? On the droplet, I'm able to run `yarn install` on the host machine though.

[2020-01-07 13:10] alexandrebodin commented on #169
It might be :/ You should go for a custom image base on the strapi/base image maybe.

[2020-01-08 13:41] virgil9306 commented on #165
Hi @alexandrebodin

+1 for OP's issue, I have the same problem.

I have:

* This repo in my host folder (I guess that is my "project"?)
* Same `dockerfile` as OP

and got the same issue.

So I did this:

1. Changed to use `npm` like @rrubio
2. Ran `npm install` to create the package-lock.json

Then I got `npm ERR! missing script: start` (of course, because I do not have the start script that @rrub

[2020-01-09 03:57] gabrielsoaresm94 commented on #167
Guys finally managed to solve and run here. I researched `wait-for` and found a tutorial for adding `environment` to the docker-compose file.

It was like this the final version, with `environment` and `hostname`:

[code]
Thanks for the great help @lauriejim , @alexandrebodin and @zzkevinlim.

[2020-01-09 03:57] #167 closed

[2020-01-15 07:54] Aetherdan opened #170 "Content type field update"
I have removed some content type fields and updated the names for others, but the updates/changes/deletions aren't being reflected on the API.

I've read this issue: https://github.com/strapi/strapi/issues/1114

I would assume the only solution is to edit the tables directly in the db, but I'm struggling to gain access to it inside my docker container. I have exposed the ports 5432 in my docker-co

[2020-01-15 08:40] #170 closed

[2020-01-17 05:45] haroldpadilla opened #171 "Strapi docker-compose docs need to be more clear"

[2020-01-17 06:43] #171 closed

[2020-01-21 10:49] nelajc opened #172 "strapi is looking for production.html"
on my Dockerfile: NODE_ENV=production npm run --prefix /usr/src/api/strapi-app build

error displayed:

using node 12.x
OS: ubuntu 18.04

[2020-01-21 11:20] alexandrebodin commented on #172
Hi @nelajc I think this happened just after migrating. Make sure to read https://strapi.io/documentation/3.0.0-beta.x/migration-guide/migration-guide-beta.17-to-beta.18.html#adding-new-root-page-files

Closing this PR for now :)

[2020-01-21 11:20] #172 closed

[2020-01-21 11:22] alexandrebodin commented on #165
I'm not having any issues witth buildign custom images on my side.

I'm going to close this issue as it is not an issue specific to strapi but to docker usage.

Feel free to comment if you think it should stay open :)

[2020-01-21 11:22] #165 closed

[2020-01-21 11:25] alexandrebodin commented on #169
@zzkevinlim Have you tried on another system ?

I don't see how I can help you here. If you have found a solution please let us know.

WIll be closing this Issue in a few days of there is no more activity ;)

[2020-01-24 03:56] githubsaturn opened #173 "Docker Compose behind a reverse proxy redirects to wrong domain."
Not sure if this is an issue with strapi or strapi-docker. But anyways, here is the gist of the issue:

When you setup the strapi docker through a docker compose, for example the [MongoDB one](https://github.com/strapi/strapi-docker/tree/master/examples/mongo), the installation goes well, and you can view the first page fine. However, if your container is behind a reverse proxy, for example if you

[2020-01-24 08:13] alexandrebodin commented on #173
Hi @githubsaturn,

You can use the server host and proxy options to achieve that :)

Check the doc https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#server

[2020-01-25 21:18] githubsaturn commented on #173
Thanks @alexandrebodin

This definitely solves the problem, but to align more with de facto standard  way of docker image configs through env vars, is there a way for users to set the same variable through env vars instead of config file?

[2020-01-27 09:10] alexandrebodin commented on #173
Using env vars is possible but you will still need to change your configuration file to load the variable from env and then use env var with your image.

Check this to earn more https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#dynamic-configurations

[2020-01-27 21:41] rnkhouse opened #174 "SSL connection is required. Please specify SSL options and retry"
How can I define SSL certificate in the docker file?

I already set `DATABASE_SSL=true` but still I need to provide `ca certificate` somewhere.

[2020-01-28 08:29] derrickmehaffy commented on #174
Can you clarify which database you are using, as it largely depends on which ORM is being used.

[2020-01-28 08:36] derrickmehaffy commented on #173
As @alexandrebodin mentioned you can take the following example: https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#example-3

And configure it with dynamic env variables:

[code]

You may have to play with the boolean values as environment variables don't really support booleans (they are strings).

[2020-01-28 13:43] rnkhouse commented on #174
@derrickmehaffy MySQL

[2020-01-28 13:47] alexandrebodin commented on #169
I'm closing this issue as it doesn't seem to be related to the image itself

[2020-01-28 13:47] #169 closed

[2020-01-28 13:48] alexandrebodin commented on #173
Closing this Issue with correct answer provided. Feel free to let us know if you still are having issue ;)

[2020-01-28 13:48] #173 closed

[2020-01-31 06:41] yxwu opened #175 "Error of "docker-compose up" for mongo yml"
Hi there,
I have the following error when running "docker-compose up" with the mongo yml:
[code]
So anything wrong?

Thanks
Ray

[2020-01-31 08:44] alexandrebodin commented on #175
@yxwu Without seeing your configuration I cant help you. Can you share it ?

[2020-01-31 17:26] yxwu commented on #175
@alexandrebodin

I didn't use any other configuration file, just this one:
`https://github.com/strapi/strapi-docker/blob/master/examples/mongo/docker-compose.yml`

Then run `docker-compose up`

By the way, if I use `https://github.com/strapi/strapi-docker/blob/master/examples/mysql/docker-compose.yml`, then everything is fine.

[2020-02-01 01:59] yxwu commented on #175
Sorry, it turns out that I have an old version of strapi/strapi in my system. After specifying `strapi/strapi:3.0.0-beta.18.7-node12-alpine`, mongo yml works fine.

[2020-02-01 01:59] #175 closed

[2020-02-06 14:36] kubal5003 opened #176 "How to deploy/sync changes made in local dev to production?"
I tried to ask this question before here: https://github.com/strapi/strapi-docker/issues/143
It was unfortunately closed with the release of strapi Docker base image.

Having a new production base image is definitely a step in the right direction, however does not fully address the issue of incremental production deployment.

In a real life scenario there's often the case that a new data type is r

[2020-02-06 17:06] lauriejim commented on #176
Hello!
When you develop your app in local (development) your Content Type updates apply some database structure updates on the fly (applied when the server restart)
So when you will deploy your app in production, these updates will be applied to your production database.
After that is you are talking about data (and not data structure) here is the [Feature Request](https://portal.productboard.com/

[2020-02-06 21:01] kubal5003 commented on #176
I was trying this around August and it didn't work for me. Is there any special voo doo magic that I need to perform? I.e. run some script to make it happen?

AFAIR When I run a new codebase against the old database - the datatype was not visible until I manually transferred schema changes. I was running Strapi against MongoDb.

[2020-02-09 22:33] Macke97 opened #177 "Infinite spinner"
I am running a docker-compose project with a nginx proxy that proxies requests to my docker-compose services (nginx is part of my docker-compose). When I am running strapi behind nginx, the only thing I can see is an infinite loading spinner. The scripts are loaded but nothing happens. What is the correct configuration to make this work?

![image](https://user-images.githubusercontent.com/22647302

[2020-02-10 08:13] alexandrebodin commented on #177
Hi @Macke97,

I do not have enough informations to help you. You will need to share your docker configurations and nginx config too so I can see what's up.

[2020-02-10 08:16] alexandrebodin commented on #176
@kubal5003 When you run strapi the database is autmatically updated whithout having any operation to do. You may have some issue due to your configurations. If you don't mind sharing them we might be able to help you :)

[2020-02-10 11:43] Macke97 commented on #177
# Docker compose

[code]

# Nginx
[code]

[2020-02-10 14:54] alexandrebodin commented on #177
Did you modify the proxy config in config/environments/env/server.json ??

[2020-02-10 18:38] Macke97 commented on #177
I have tried both modifying it and keeping it default

[2020-02-10 22:17] Macke97 commented on #177
To clarify: I want Strapi to be accessible through /admin in my nginx config.

[2020-02-11 07:58] alexandrebodin commented on #177
@Macke97 I think serving strapi in a sub folder won't work right now. You could use 2 different domain name instead and redirect /admin to the strapi domain.

[2020-02-11 11:47] Macke97 commented on #177
@alexandrebodin Ahh, that's a bummer :/

[2020-02-11 11:47] #177 closed

[2020-02-11 14:09] alexandrebodin commented on #177
I will try something when I get some free time and let you know

[2020-02-11 15:27] Macke97 commented on #177
Thanks!

[2020-02-18 07:42] mercurialyk opened #178 "how to add documentation plugin with docker-compose"

[2020-02-18 09:53] alexandrebodin commented on #178
@mercurialyk Hello. You need to create a project and add the plugin in your package.json dependencies. Once it is done you can create mount this project inside the docker image to run it :)

[2020-02-18 09:53] #178 closed

[2020-02-18 11:52] mercurialyk commented on #178
@alexandrebodin Thanks!

[2020-02-19 15:51] alexandrebodin commented on #174
Closing this issue as it isn't an issue with the image but a question on usage. Feel free to go on our slack to ask for help ;)

[2020-02-19 15:51] #174 closed

[2020-02-19 15:51] alexandrebodin commented on #176
Closing this issue as it isn't an issue with the image but a question on usage. Feel free to go on our slack to ask for help ;)

[2020-02-19 15:51] #176 closed

[2020-02-19 16:00] cheehau opened #181 "email is not working"
I believe for the docker image, sending email is not working

[2020-02-20 17:17] lauriejim commented on #181
You will have to use a tiers service to send emails.
Here is the documentation for that: https://strapi.io/documentation/3.0.0-beta.x/plugins/email.html#install-new-providers

[2020-02-20 17:18] #181 closed

[2020-02-21 09:45] maxh213 opened #182 "Everytime I deploy strapi, it forgets the plugin info"
Every time I deploy strapi it forgets the plugin data.

I have an installation of strapi in a git repo and then use a dockerfile to build and deploy it. I can make changes to the data types using yarn develop on my local and then commit and deploy them and it saves it fine.

However, any changes to plugins like "roles & permissions" and the layout of content for the "content type builder" gets for

[2020-02-21 09:54] alexandrebodin commented on #182
Hi @maxh213 What database are you using ? When deploying strapi if you want to use your local configuration in production you will need to create a migration script. This isn't yet provided by strapi.

[2020-02-21 10:59] maxh213 commented on #182
ah I see thanks! I'm using postgres. Do you know where the local configuration is stored?

[2020-02-21 11:09] maxh213 commented on #182
Local and production have seperate databases, it's ok that they have different data on them. But when production gets deployed and it goes offline and the docker image is rebuilt, when it comes back up it has forgotten the details about the plugin. It still has all the info saved in the database.

I assume this means the plugin info is stored locally?

[2020-02-21 12:00] bazter opened #183 "Unable to start the server after using duplicate attribute name "ID""
Hello, I just started to play with Strapi and after few clicks I broke it and can't start the server anymore.

Repro:

I've used the default command to run the image:
```docker run -it -p 1337:1337 -v `pwd`/project-name:/srv/app strapi/strapi```

I created first admin account and entered the cockpit.

Then I created my first custom type, added two attributes _Name_ and _ID_ and saved.

Server wasn

[2020-02-21 12:11] alexandrebodin commented on #183
Hi. This issue already exists in the main repository. This one is only about the docker images.

I'm closing this issue here

[2020-02-21 12:11] #183 closed

[2020-02-21 12:13] alexandrebodin commented on #182
The plugin configuration are stored in DB but if you change them lcoally they won't be saved in your production DB. This is when you need to create migration script to do that :)

I think you got the hang of it. I'm going to close the issue as it is not related to the dockder image. Feel free to go on our community slack to ask for help on building your migration scripts of course !

[2020-02-21 12:13] #182 closed

[2020-02-25 14:16] maxh213 commented on #182
Thanks for your help Alex!

[2020-03-05 12:59] gottlike opened #184 "How to update to latest version?"
I would expect `docker-compose pull && docker-compose up` to update to the newest version. But even though the image is apparently updated, the Strapi code is still fixed to the previous version I was using (it says so on start and in the admin UI). How am I supposed to update?

[2020-03-05 13:16] gottlike commented on #184
After a lot of searching, I found the migration guides: https://strapi.io/documentation/3.0.0-beta.x/migration-guide/

I know Strapi is still in beta, so this is not a critical issue.. but you absolutely must provide a standard way of updating (see comment above), before it can be called "stable" - in my opinion. Is that somewhere on the internal roadmap?

[2020-03-05 13:28] alexandrebodin commented on #184
Hi,

We will eventually provide some upgrade scripts when we have enough people in the team.

Upgrading your strapi project isn't realted to the docker images. I'm closing this PR.

[2020-03-05 13:28] #184 closed

[2020-03-12 15:37] mkubdev commented on #80
Thank you @MatteoGioios ! Helped me a lot.

[2020-03-18 15:27] jochenthomas opened #186 "Mongo DB access not successfull (Docker)"
**Describe the bug**
Starting a docker container (strapi/strapi:latest) with command: "strapi develop" the console gives the following error:

[code]

**Steps to reproduce the behavior**

Used environment variables:
[code]

Created database.json is as follows:
/config/environments/development/database.json
[code]

**Expected behavior**
Mongo DB is fully accessible from other network devices (e.g.

[2020-03-19 11:49] ppatmigra opened #187 "Dockerfile example"
It would be nice if the link to the Dockerfile example worked.

[2020-03-19 12:03] MattieBelt commented on #187
@ppatmigra which link do you mean?

[2020-03-20 07:43] alexandrebodin commented on #187
Hi, Closing this PR as it is missing context and explanation. Feel free to reopen with details :)

[2020-03-20 07:43] #187 closed

[2020-03-20 07:44] alexandrebodin commented on #186
Strapi is using mongoose to connect to the database. I'm moving the issue back to the strapi repo as it isn't specific to docker

[2020-03-20 09:54] ppatmigra commented on #187
I am talking about the link to an example Dockerfile.

[2020-03-20 10:15] alexandrebodin commented on #187
@ppatmigra Can you please be precise ? what link ? where is it ? Feel free to open a PR to fix the link if you want :)

[2020-03-27 16:10] juliensl opened #188 "deploy strapi connected to mongodb Atlas"
Hi everybody,

I found lots of tutorials to launch strapi with docker using a mongo database locally, but I cannot find a docker tutorial to connect him to an external database :/

What I did :
- start a free cluster on mongoDB atlas, set a user and authorize all ip address
- initiate a vm on Azure with ubuntu 18
- install docker and docker-compose
- clone the strapi-docker repo
- copy past the do

[2020-03-27 19:08] juliensl commented on #188
Hi again ! :)

I saw that mongodb Atlas is a little bit complex about authentication, replica, etc, so, I tried with mlab to delete complexity, but it still does not working :'(

This is my docker-compose.yml :
[code]

This is a screen of my mlab configuration :
![mlab](https://user-images.githubusercontent.com/43228020/77791098-539d1500-7066-11ea-9a2d-6034603c94d2.png)

and to find the port :
![i

[2020-03-27 20:22] juliensl commented on #188
Ahhhhhh !!!! I found without Docker ! :D

[code]

The only different that I see, is the definition of the connector :/

I really want to dokerise this app, if you have any idea I'm listening :hugs:

[2020-03-30 10:27] alexandrebodin commented on #188
Hi @juliensl you can use this doc to know how to pass env vars in those parameters :)
https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#dynamic-configurations

[2020-03-30 11:26] jochenthomas opened #189 "Strapi-Docker error connecting to Mongo-DB"
Hi,
I hope you can help me.
I am trying different times now to establish a Strapi Test-Project using a running Mongo-DB.
I can access the MongoDB with the user rights are given in the environment vars (you can see below the existing MongoDB-Users as well as the existing "StrapiDB" on an internal network).

The environment parameters you can see below as well - I thought I should give all the infor

[2020-03-30 11:34] alexandrebodin commented on #189
Hi @jochenthomas

Have you tried setting the `authenticationDatabase` option to `admin`?

[2020-03-30 11:51] jochenthomas commented on #189
Hi thanks for your answer.
YES, as you can see in the second picture --> last Env_vars --> DATABASE_AUTHENTICATION_DATABASE = admin

Also in options I have set
[code]
Where I can find the logfile, maybe there is a more detailed explanation?

[2020-03-30 11:54] alexandrebodin commented on #189
What I meant is that you need to add this variable to your database.json file too :)

[code]

[2020-03-30 11:58] jochenthomas commented on #189
Haha,
yes I just did this, but Strapi shuts down again with the same error-message...

[code]

[2020-03-30 12:31] alexandrebodin commented on #189
I honestly don't see anything special to add to your config.

If your code should be using the env vars you should check this doc: https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#dynamic-configurations

[2020-03-30 14:38] jochenthomas commented on #189
Hi, I have seen this too...
But I don't see any advantage in using dynamic configs.
Because I changed the database.json **directly**.
So what would be possible steps to solve this issue?

I guess, the first point would be to evaluate the log files:
Where exactly I can find the database log file?
What is the result of activating "debug: true"?

[2020-03-30 15:21] alexandrebodin commented on #189
I wasn't sure you were setting the right params in the file that's why i suggested using the env var to be sure it is the same values.

`debug` is an option to see the sql queries made with the sql connector. This will be useless with mongo.

You can try running your code with a DEBUG=* env var to see debug info for all the libs. This might give your more infos. I don't see what the issue could be

[2020-03-30 15:22] alexandrebodin commented on #189
Is it possible that it might be a network thing maybe ?

[2020-03-30 16:27] jochenthomas commented on #189
In this case, it would not be possible to connect from another device (Notebook) with MongoDB-Tool (noSQLBooster) ....

[2020-03-30 23:21] rmcsharry opened #190 "Everything runs but cannot connect from host (MacOS Catalina)"
I followed the readme twice and both times everything installs and runs, as you can see:

![Screenshot 2020-03-31 at 01 17 59](https://user-images.githubusercontent.com/1156100/77970885-a2a8ab80-72ed-11ea-895b-0613bce24bd5.png)

but when I visit http://localhost:1337/admin nothing renders.

![Screenshot 2020-03-31 at 01 19 55](https://user-images.githubusercontent.com/1156100/77970942-c10ea700-72e

[2020-03-31 03:30] ktryndchrs commented on #190
I have the same exact problem here 😅. I tryed every installation method possible with always the same result

[2020-03-31 03:54] ktryndchrs opened #191 "Successful installation with Docker... But I can't access Strapi through my browser !"
My install seems successful, but I can't access through my browser.
I tried every installation method possible in Docker with always the same result.

I don't know if it is an issue or juste me >_<

### 1/4 The Screen I get:
<img width="849" alt="image" src="https://user-images.githubusercontent.com/416462/77985123-c6a9c400-72d0-11ea-8405-4111beb0545a.png">

### 2/4 The Installation

#### Tools
-

[2020-03-31 09:23] alexandrebodin commented on #190
Going to closing this as a duplicate of. This is the same issue :) https://github.com/strapi/strapi-docker/issues/191

[2020-03-31 09:23] #190 closed

[2020-03-31 09:23] alexandrebodin commented on #191
I found the issue. It is coming from the `host` configuration in `config/environments/{env}/server.json` to run correctly in docker you will need to set it to `0.0.0.0`

[2020-03-31 13:11] jochenthomas commented on #189
Hi,
I created the container again and made a mistake by defining the env-vars (DATABASE-USERNAM instead of -NAME), so I got the following error message.

[code]
This shows me, that the DB connection is OK.
So what could be the issue here?

[2020-03-31 15:09] rmcsharry commented on #191
FYI:
After changing the server.json to '0.0.0.0' I had to then visit 127.0.0.1/admin to load the admin panel, NOT localhost/admin

[2020-03-31 15:27] ktryndchrs commented on #191
I will try these out right now thanks guys!!!!

[2020-03-31 15:51] ktryndchrs commented on #191
So I did the following and it worked for me:

1. Standard install using mango db docker-compose in your git
2. Changed `"host": "localhost"` to `"host": "0.0.0.0"`
3. Went on `127.0.0.1:1337/admin/` instead of `localhost:1337/admin/`

So amazing! With my actual level of knowledge
of the development, I would never found out that solution!

**One more question!**
Is this solution considered as a fix

[2020-03-31 20:50] zachattack commented on #191
@ktryndchrs thanks for reporting this issue. I was able to follow your instructions to get the local dev UI working. Hoping that @alexandrebodin branch gets merged in soon.

[2020-03-31 20:53] asitemade4u opened #192 "The first connection to a docker based Strapi has the hostname and port wrong"
Here is how to reproduce:

1. Create a docker-compose file with a different Strapi port, eg.:
[code]
1. and a different hostname than `localhost`, eg.:
[code]
1. At first opening and admin user creation, the browser opens on: `localhost:1337` whch yields a 404.
1. The solution is simple (change the URL manually), but may distress users not used to docker.

[2020-04-01 00:18] ruisilvestre commented on #191
@ktryndchrs I'd say it's a normal thing when using docker but I'm no expert. This issue is related to the network interfaces and how things communicate from the outside world into the docker instance. There is a good explanation of it here https://pythonspeed.com/articles/docker-connection-refused/

To have a flexible way to configure my Strapi app host, I use updated the app's config/environments

[2020-04-01 00:42] ruisilvestre opened #193 "On the custom image example, the project should also build in production mode"
I'm using the example Dockerfile under strapi-docker/examples/custom to build a custom image of my app, and it's working ok for now, except I had to reorder setting the **production** env variable so the admin ui build reads the correct config.

The file in the repo currently reads:

[code]
### Actual Result
When we run `docker build ...` the `yarn build` command will be run against the **developm

[2020-04-01 07:42] alexandrebodin commented on #192
Hi, this issue is a duplicate of https://github.com/strapi/strapi-docker/issues/192

[2020-04-01 07:42] #192 closed

[2020-04-01 07:44] alexandrebodin commented on #193
We can rorder the comand in the example if this is the issue :) It's really up to you how you want to create your custom image :)

[2020-04-01 07:52] ruisilvestre commented on #193
I agree, it's a custom image after all so we can do as we please. I guess it can be framed as if building the admin ui in develop and running the project in production is a 'good practice' for Strapi that you want to promote via that custom image. In my case that setup gave me some issues, but easily fixable.

[2020-04-01 08:21] alexandrebodin commented on #193
Going to update the Dockerfile. I like your proposal :).

[2020-04-01 08:23] #193 closed

[2020-04-01 08:30] alexandrebodin commented on #191
I'm doing this and can query directly on localhost 🤔.

If you have to go to 127.0.0.1 it's not good enough yet...

[2020-04-01 09:54] alexandrebodin commented on #191
Just released the new docker images with a fix for this host thing when creating a new project.

Closing this issue. Feel free to comment if you still are having problems when creating a new project :)

[2020-04-01 09:54] #191 closed

[2020-04-01 09:56] alexandrebodin commented on #189
AS I told you there is nothing specific to strapi about debug files. You will need to look at your mongo logs to see if the connection is even going to the mongo instance.

What version of mongo are you using ??

[2020-04-01 10:00] alexandrebodin commented on #188
you might also want look at our guide on using mongodb atlas first :) https://www.youtube.com/watch?v=HHnRsZwFmR8&list=PL7Q0DQYATmvhlHxHqfKHsr-zFls2mIVTi&index=7&t=0s

[2020-04-01 10:38] ruisilvestre commented on #192
^ this **is** issue 192 :D did you mean 191?

[2020-04-01 11:11] pitou opened #195 "Only the index page can be accessed while in watch-admin mode"
Hi!

I tried two different approaches:

Via docker-compose.yml directly, starting from `strapi/strapi`

[code]

And after building a new image, starting from `strapi/base`

[code]
and then in the docker-compose.yml:

[code]

In both cases, I can reach the index page at `http://127.0.0.1:1337` or `http://localhost:1337`, but any other linked page gives me the error:
[code]

Actually, the case that

[2020-04-01 12:45] alexandrebodin commented on #195
watch admin runs the admin panel on another port :) you will need ot share it too. (fyi, port: 4000)

Closing this as it is not an issue with the images.

[2020-04-01 12:45] #195 closed

[2020-04-01 13:05] mannp commented on #191
This doesn't get fixed for me with the latest docker build sadly.

The issue only came in after updating to 19.4 for me and reverting back to localhost from 0.0.0.0 breaks things again.

Adding the host name of the host outside of the docker also doesn't appear to work either... eg strapi.domain.com

[2020-04-01 13:09] alexandrebodin commented on #191
If you are running an existing app you will need to update your config files to use the 0.0.0.0 host. Doing this is equivalent as what was done in 19.3.

You shouldn't be reverting to localhost in 19.5 as docker requires to set the host to 0.0.0.0 to work correctly. You might need to check your docker network configuration (specific to your os etc...)

[2020-04-01 13:19] mannp commented on #191
Oh I see thanks for the clarification, yes I am using an existing app.

I'd assumed it was less secure as 0.0.0.0 is usually accept any connections while localhost is only accept local connections.

I'll stay on 0,0,0,0 then if that's what is required, thanks.

[2020-04-01 13:25] alexandrebodin commented on #191
@mannp to give you full context:

 In prior versions of 19.3 the host wasn't used to set the server listening so it always defaulted to 0.0.0.0 behind the scene.

This was fixed in 19.4 but the default value became localhost and thus broke deploys on docker or other containerized envs (heroku...)

Ideally we will put localhost back for users that do not use docker and use a HOST env var inside of

[2020-04-01 13:45] mannp commented on #191
@alexandrebodin Many thanks, wasn't trying to be a pain, I was just trying to make sure I wasn't incorrectly configuring my setup :)

[2020-04-01 14:25] pitou commented on #195
Ok, thank you!

I managed to solve my problem by specifying that the host of the admin endpoint should be 0.0.0.0, otherwise it didn't respond to my requests:

[code]

Is this somewhat related to #191?
I'm currently using Strapi version `3.0.0-beta.19.5`.

Thanks

[2020-04-02 07:53] jochenthomas commented on #189
Hi,
unfortunately, reading the guide gives no clear answers to that issue.
Luckily, after useless hours, I found the reason  - but would have expected clarification would come from the project owner.

If you follow the instruction (e.g. editing the database.json) please be aware that the username and password you are defining are NOT only for the requested project-database!!!
The user must have ne

[2020-04-02 09:49] alexandrebodin commented on #189
Hi @jochenthomas,  Strapi uses mongoose behinds the scenes and we do not do anything special with it. Strapi do run index creation at startup to match with the schema (e.g unique indexes). This explains the error in your last message.

As your error was abut connecting to the DB I was only focused on this and not the fact that you fixed the connection and had a new error :)

Hope this answers why

[2020-04-02 09:49] #189 closed

[2020-04-09 02:00] WebAzOps opened #196 "mongoDB"

[2020-04-09 03:44] WebAzOps opened #197 "Mandoker"

[2020-04-09 06:54] alexandrebodin commented on #196
Closing this issue because it is missing a description

[2020-04-09 06:54] #196 closed

[2020-04-09 06:55] alexandrebodin commented on #188
Closing this issue for now as it doesn't seem to be related to the docker image itself but configuration of strapi.

[2020-04-09 06:55] #188 closed

[2020-04-09 06:56] alexandrebodin commented on #197
Closing as there is not description.

[2020-04-09 06:56] #197 closed

[2020-04-09 14:17] jeremy-hubsy opened #198 "Docker's not working with Sendmail"
Hello,

I'm using docker with strapi.

I'm in development mode and the sendmail feature from Strapi is not working....

Strapi doesn't send an email if a User register or forget his password...

Here is my docker-compose.yml file.

version: "3"

services:
  strapi:
    container_name: strapi
    image: strapi/strapi:3.0.0-beta.18.3-node12
    ports:
      - 1337:1337
    networks:
      - dev

[2020-04-09 14:18] jeremy-hubsy commented on #198
Hello,

I'm using docker with strapi.

I'm in development mode and the sendmail feature from Strapi is not working....

Strapi doesn't send an email if a User register or forget his password...

Here is my docker-compose.yml file.

[code]

[2020-04-09 14:18] #198 closed

[2020-04-09 14:19] jeremy-hubsy opened #199 "Sendmail is not working with docker"
Hello,

I'm using docker with strapi.

I'm in development mode and the sendmail feature from Strapi is not working....

Strapi doesn't send an email if a User register or forget his password...

Here is my docker-compose.yml file.

[code]

[2020-04-09 14:24] alexandrebodin commented on #199
Hi, sendmail is not setup in the default docker images we provide. If you really need to setup sendmail with docker you will have to do it with a custom docker image.

You can extend the `strapi:base` image to do so.

[2020-04-09 14:36] jeremy-hubsy commented on #199
Thanks Alexandre for your answer.
Could you help me by giving me an example of the setup?
If it's too complicated I understand.

[2020-04-09 14:41] alexandrebodin commented on #199
You can start from this [example custom image](https://github.com/strapi/strapi-docker/tree/master/examples/custom) first.

To add the sendmail config and set it up I honestly would just send you google links. I think you are better of looking and learning on your own.

A simpler alternative is to use en email provider instead of sendmail (much simpler to setup and doesn't have issues with spam /

[2020-04-09 14:52] jeremy-hubsy commented on #199
Perfect I've tried with sendgrid and it's working.
I'll stick with it.
Thanks a lot for your help!

[2020-04-09 15:01] alexandrebodin commented on #199
Great ! Have a good time with Strapi !

[2020-04-09 15:01] #199 closed

[2020-04-13 13:08] dawidstefaniak opened #200 "Docker wrong host"
**Describe the bug**
While creating a new strapi project using strapi docker image, the host is set to "localhost" instead of "0.0.0.0". This makes the strapi to bind to 127.0.0.1 instead of automatically get IP address for Docker Container. It causes Strapi to be often inaccessible.

**Steps to reproduce the behaviour**
1. Create new Docker Strapi project
2. Run app

**Expected behaviour**
Strapi

[2020-04-16 13:30] alexandrebodin commented on #200
Hi, this was already fixed in the latest release :)

[2020-04-16 13:30] #200 closed

[2020-04-21 16:13] ChrisKatsaras commented on #132
I'm curious about this as well. @jimdesalvo did you end up figuring out a solution? @alexandrebodin do you have any suggestions about how to use Docker secrets with our `database.json` files?

[2020-04-21 16:32] alexandrebodin commented on #132
Hi, right now I would suggest you use this example https://stackoverflow.com/questions/59792344/strapi-cms-where-to-put-the-environment-variables to setup `.env` support. Once it is setup you can create a docker secret for the `.env` file :).

In an upcoming release we are planning to support .env files natively so you will have less work to do.

Hopefully this helped you :) Let me know ;)

[2020-04-21 17:04] ChrisKatsaras commented on #132
Thanks for the quick response! This is an interesting solution but still requires a `.env` file. Unless I'm misunderstanding, there's no way to create a `docker secret` and then read it from our `database.json` file? I'm just a bit confused about how `docker secret` can be used in the example above.

[2020-04-22 07:46] alexandrebodin commented on #132
I haven't used docker secret but from what I understood a secret is shared to the container in a file. So this would be easy to set the secret as the content of the .env file and when running the container share this secret as a .env file in the project folder so it is used.

[2020-04-23 09:54] yxwu commented on #184
Hi there,
Since docker-entrypoint.sh won't run `strapi new ...` again once package.json is available, how can we apply the new strapi upgrade?
So I assume docker image may need some changes once strapi upgrades.
Your opinion?
Best

[2020-04-23 18:00] SwathyRajeev commented on #48
Is that possible to connect strapi with mariadb?

[2020-04-24 00:27] ChrisKatsaras commented on #132
That makes sense! Thanks for your help @alexandrebodin  🎉

[2020-04-26 17:04] bluehawk27 opened #201 "Dependencies install at run time"
The current implementation looks like it installs the deps in the container at run time. Consider moving this to build time. From within an ECS cluster the call to fontawesome currently fails because its trying to make an https call. I'd rather not open the instance to https traffic to the outside world

[2020-04-27 09:15] alexandrebodin commented on #201
Hi, The script strapi/strapi image creates a new project if you don't provide one and runs it if one is mounted. It installs the dependencies only when creating the project.

When go to production, you should you the strapi/base image and build your own Dockerfile like you can find in the examples folder :)

I'm closing the issue as it is the intended behavior

[2020-04-27 09:15] #201 closed

[2020-05-01 09:35] holygekko opened #202 "mysql example only works with mysql 5.7"
In the mysql example (examples/mysql/docker-compose.yml) the mysql image referenced is 'mysql' which defaults to latest (v8.0.20 at this moment).

However this configuration doesn't work with mysql 8, it only works with mysql 5 (I think this has something to do with the mysql npm module not supporting a new form of authentication?).

Please adjust to `image: mysql:5.7`

[2020-05-01 13:14] lauriejim commented on #48
Yap! You will have to use the same config as a MySQL database.
But you set the HOST and PORT of your MariaDB database.
It's because it uses the same driver as MySQL

[2020-05-04 08:53] alexandrebodin commented on #202
Hi, @holygekko Thank you for the info. If you feel like opening a PR to help out that would be cool :D

Will try to update when I get some time ;)

[2020-05-06 01:29] mikelhsia opened #203 "How to set up the docker-compose.yml that works?"
__Context__
I've tried to follow the instruction here in order to use docker-composer. https://strapi.io/documentation/3.0.0-beta.x/installation/docker.html

Tried many times but failed telling me that I have not run the `npm install`, which if I run it, it'll tell me that `node_module/sharp` commend failed.

Also seems the essential script `docker-entrypoint.sh` is not in the folder/image as well

[2020-05-06 01:57] mikelhsia commented on #203
Close for now, resolved by removing the old strapi/strapi images and containers.

[2020-05-06 01:57] #203 closed

[2020-05-07 07:38] alexandrebodin commented on #202
Hello, I have update the example to avoid misleading users. Thanks for your help !

[2020-05-07 07:38] #202 closed

[2020-05-10 15:43] enricostano opened #204 "Production documentation"
Hi!
Many thanks for the good work!

Is there any documentation (with examples and step by step guide) about how to deploy Strapi in production using docker?

In the official documentation there is no trace of `production` environment and you end up (like me) running `strapi develop` in production...

Also, what's the recommended process to start a Strapi project and then bring it to production?

A

[2020-05-10 21:43] xaiyeon commented on #204
I tried the documentation for Strapi from here:
https://github.com/strapi/strapi-docker/blob/master/examples/postgresql/docker-compose.yml

I get:
`
| Starting your app...
| [2020-05-10T21:39:34.592Z] debug ⛔️ Server wasn't able to start properly.
| [2020-05-10T21:39:34.594Z] error Error:
| Something went wrong installing the "sharp" module
|
| Cannot find module '../build/Release/sharp.node'
| Re

[2020-05-12 08:44] alexandrebodin commented on #204
Hi @enricostano Have you looked at the examples folder in this repository ?

When using the strapi/strapi image the app will by default run in development but it is as simple as changing the command to use strapi start and set a NODE_ENV=production flag.

You can find an example [here](https://github.com/strapi/strapi-docker/blob/master/examples/prod/docker-compose.yml)

The better way is to creat

[2020-05-12 08:44] #204 closed

[2020-05-20 23:18] Brad-Christie opened #205 "Cross-platform development"
Hey, been using docker to work on a project I dev primarily in Windows (which is fine). "Issue" is around some fuss w/ node_modules and the implications of being cross-platform. Let's see if I can explain:

In windows you create a project (`npx strapi new foo --quickstart`). Voila, it's up and we're off to the races. Shift gears to the [docker-compose](https://strapi.io/blog/how-to-run-a-strapi-de

[2020-06-02 11:40] RileyMShea opened #206 "Base docker image lacks version tags"
Currently the base images only have node version tags.

Since there are breaking changes introduced between `beta 3.0.0beta20.3` to `3.0.1` stable, it breaks production builds afaik.

Currently I get an error from the a docker container that has a beta 20.3 structure but got rebuilt with 3.0.0 stable:
[code]

Proposing either:

* Strapi version tags for base images
* or documentation for how to av

[2020-06-02 18:10] dargmuesli commented on #132
I configured `/config/database.js` manually to load the database's user and their password from Docker secrets:

[code]

[2020-06-03 11:50] alexandrebodin commented on #206
Hi, the images are all tagged. You can check the tags on dockerhub.

Closing as this is already in place.

[2020-06-03 11:58] RileyMShea commented on #206
@alexandrebodin I  only see tags for node versions on the `strapi/base` images here https://hub.docker.com/r/strapi/base/tags .  I was hoping for tags for the actual strapi version similar to what is currently available on `strapi/strapi` here https://hub.docker.com/r/strapi/strapi/tags

[2020-06-03 12:12] #206 closed

[2020-06-04 09:30] DHvD-R opened #207 "Mongo docker-compose.yml example env variable"
**Describe**
In the mongo docker-compose.yml example it seems one of the env variables has the wrong name:
`- DATABASE_AUTHENTICATION_DATABASE=strapi`

**Solution**
Should be:
`- AUTHENTICATION_DATABASE=strapi`

[2020-06-04 18:32] yxwu opened #208 "plugin email cog button missing, 3.0.1-node12-alpine image issue ?"
![Screen Shot 2020-06-04 at 11 42 55 AM](https://user-images.githubusercontent.com/6853444/83798121-9aa41980-a658-11ea-9926-a2fbba29c995.png)
I use the following command to launch strapi, and found a weird problem, the cog button of the Email plugin is missing, ie. the Email setting page is lost.

$ docker run -it -p 1337:1337 -v `pwd`/strapi-docker:/srv/app strapi/strapi:3.0.1-node12-alpine

[2020-06-05 07:55] alexandrebodin commented on #208
Hello @yxwu, This is intended, If you read the migration guide from beta to v3.0.x you will see we moved the email configurations to files.

https://strapi.io/documentation/v3.x/migration-guide/migration-guide-beta.20-to-3.0.0.html

Closing this issue :)

[2020-06-05 07:55] #208 closed

[2020-06-05 13:52] yxwu commented on #208
My bad, thanks!

[2020-06-09 10:15] alexandrebodin commented on #207
Hi, thank your for the info ! I made the change :)

[2020-06-09 10:15] #207 closed

[2020-06-09 21:31] IPWright83 opened #209 "How do you configure a MongoDB replica set connection string in Docker?"
I'm trying to work out how I can establish a connection to a MongoDB replica set within the Strapi docker config for deploying to production.

At the moment I'm using something like this:

[code]

The problem is really my connection string needs to be `mongo1:27017,mongo2:27018,mongo3:27019`. This above only works when the primary is up and running.

How do I go about configuring this for a replic

[2020-06-10 23:38] iKethavel commented on #188
Hello, @alexandrebodin!

Looks like approaches to replace mongodb atlas connetion string from docs and video works fine when we launch app via yarn or npm.
But what about docker? I still do not understand how to make it work :(
I could connect to this db via gui or mongoose
[code]

[2020-06-11 08:39] alexandrebodin commented on #209
Hi,

I don't think we handle it by default in the mongo image. You will need to create a custom image for your strapi app, configure it according to your need and use a custom env var.

I'm going to close this issue as you ca do this on your own.

[2020-06-11 08:39] #209 closed

[2020-06-11 18:28] Slethael opened #210 "Strapi times out on Mongo"
### Describe the bug
While creating a new project with the strapi/strapi image, Strapi can't find Mongo on the local machine when the default Docker Gateway is specified, leaving me with a timeout issue. Below is the exact issue :

[code]

#### Steps to reproduce the behaviour

Run the line specified in **Additional Info**

#### Expected behaviour
Strapi should be able to connect to the local Mong

[2020-06-12 07:23] rizvankukad commented on #210
I am also facing same issue.

[2020-06-12 07:30] vinod77 commented on #210
I am facing the same issue. Not able to connect to Mongo DB (either Mongo running inside Docker or on local machine) from App running inside Docker.
Attaching Screenshot:

<img width="1126" alt="Dockerfile — strapi-default-app-20 3 2020-06-12 02-28-26" src="https://user-images.githubusercontent.com/23507845/84477034-9ed1c780-ac54-11ea-90b1-29ec1b691c07.png">

[2020-06-12 09:01] Shailu4u commented on #210
I'm facing same issue but with Postgres
[2020-06-11T19:18:31.035Z] debug ⛔️ Server wasn't able to start properly.
[2020-06-11T19:18:31.037Z] error TimeoutError: Knex: Timeout acquiring a connection. The pool is probably full. Are you missing a .transacting(trx) call?

[2020-06-12 16:06] RaimonxDev commented on #210
Hello, most likely you have problems with the credentials, in postgress if you do not declare the name of the databases (POSTGRESS_DB) it will automatically put the same value of POSTGRES_USER .. so make sure your credentials are correct

[2020-06-12 16:30] RaimonxDev commented on #210
Can you show the mongo container to see its sample or test credentials?

[2020-06-15 07:41] alexandrebodin commented on #210
Hello, This looks like an help question and not a an issue with the containers.

The containers are just nodejs containers with just some more dependencies installed to run strapi. They do not do anything specific with database connections.

I'm going to close this question in order to keep the github issues focused on bugs.
You should go to our community slack or stackoverflow to get more help on

[2020-06-15 07:41] #210 closed

[2020-06-15 15:32] alexandrebodin commented on #205
Hello, thank you for the ideas.

If you feel like opening a PR to help us out this would be really helpful as we are still a really small team.

[2020-06-15 19:21] RileyMShea opened #212 "3.0.2 Not Available on Dockerhub"
# Description
Tags for strapi 3.0.2 show up on https://hub.docker.com/r/strapi/strapi but the actual images don't appear to be present https://hub.docker.com/r/strapi/strapi/tags.

## Followup

It seems this repo isn't being updated for releases anymore, is it still the the best place for strapi/docker issues? Or is the main repo a better place?

[2020-06-16 08:02] alexandrebodin commented on #212
Nice catch, We built the images but didn't push them. It should be good now :) Closing the issue

The releases aren't made on github directly as the images don't need to be updatde to release the new versions.

[2020-06-16 08:02] #212 closed

[2020-06-16 13:55] khjde1207 opened #213 "Do you have plans to support arm architecture?"
Do you have plans to support arm architecture?

Thank you!

[2020-06-16 14:24] alexandrebodin commented on #213
Hi, we are open to receiving some help on the topic but right now we don't have enough hand for this.

[2020-06-16 14:31] khjde1207 commented on #213
Thank you!

[2020-06-16 14:31] #213 closed

[2020-06-16 22:28] iKethavel opened #214 "Strapi docker mongodb atlas"
Hello!

I was trying to setup strapi via docker and connect it to [mongodb atlas](https://www.mongodb.com/cloud/atlas). And looks like approaches to replace mongodb atlas connetion string from [docs](https://strapi.io/documentation/3.0.0-beta.x/concepts/configurations.html#dynamic-configurations) and [video](https://www.youtube.com/watch?v=HHnRsZwFmR8&list=PL7Q0DQYATmvhlHxHqfKHsr-zFls2mIVTi&index=

[2020-06-16 22:50] fanvyr commented on #205
Encountering this error too.
Through the volume, my node_modules folder is mounted to the app.

One Submodule need plattform-specific binaries, and an a mac i have darwin - but the strapi/strapi images needs linux binaries...

Can't believe nobody experienced this?

[2020-06-16 23:29] brenojac opened #215 "Still getting connection REFUSED / RESET in a Docker-Compose install"
Hello everyone,

I'm trying to run Strapi as suggested at https://strapi.io/documentation/3.0.0-beta.x/installation/docker.html

I read the previous thread on this issue (https://github.com/strapi/strapi-docker/issues/191) as well as the article suggested, which is pretty good and clear (https://pythonspeed.com/articles/docker-connection-refused/). While I'm able to reproduce running a web server

[2020-06-17 06:33] RileyMShea commented on #212
Sweet, thank you.  Looks like a great update.

[2020-06-17 08:25] alexandrebodin commented on #214
You will need to update your project config to support those env vars. The image doesn't hold anything related to the database connection. When using it, a new project is created with the default config so you will need to configure the strapi app.

Closing the issue.

[2020-06-17 08:25] #214 closed

[2020-06-17 08:31] alexandrebodin commented on #215
Hi @brenojac can you please update your issue description so the code is wrapped into markdown code for readability :)

From what I am seeing, this looks fine, can you check the `./config/database.js` file uses the same variables ?

[2020-06-17 10:19] iKethavel commented on #214
You've made me confused. [Here](https://strapi.io/documentation/3.0.0-beta.x/installation/docker.html) we have example for mongodb connection in image config...
Btw, could you provide more details how to update this configs for setup via docker? Is this data storing in docker volume?

[2020-06-17 11:28] alexandrebodin commented on #214
You need to create a strapi project first. Then configure the database.js config for your usecase. then setup your docker compose scenario. The image we provide is just a basic nodejs image with some dependencies added.

[2020-06-17 18:52] Brad-Christie commented on #205
Just pushed PR #216 to address this. Standard workflow should apply, but also recommend adding following to package.json:

[code]

[2020-06-17 23:02] brenojac commented on #215
Hi @alexandrebodin, just fixed the markdown and hope it is fine now.

Here are the contents of app/config/database.js:

[code]

     Which I believe is unrelated to this issue, given that in order to reach the DB Server it should first sucessfully reach the HTTP server, right?

[2020-06-18 06:27] jdelafon commented on #156
If you `yarn add strapi-plugin-graphql` before starting it, you compile C sources on your host machine for the Linux container target, which often does not end well:
[code]

[2020-06-18 07:56] alexandrebodin commented on #215
Ok I have read your issue incorrectly. Actually I thought you couldn't connect to your db. I have not been able to reproduce your issue. how exactly are you getting the error messages ? / when ?

[2020-06-19 08:47] sandrotaje opened #217 "Launch yarn build on CMD step of Dockerfile for read env variable inside container"
The problem is that you have to know env var during the compilation of Dockerfile but sometimes, if you have for example multiple deployment(test, stage, production) is better to read env file from the server you are deployed.
It's difficult to explain but i post my dockerfile to better explain me.

Dockerfile
[code]
run.sh
[code]

With this configuration you can use ENV VAR from, for example, you

[2020-06-19 08:48] sandrotaje opened #218 "Launch yarn build in CMD step for reading env var of container"
The problem is that you have to know env var during the compilation of Dockerfile but sometimes, if you have for example multiple deployment(test, stage, production) is better to read env file from the server you are deployed.
It's difficult to explain but i post my dockerfile to better explain me.

Dockerfile
[code]
run.sh
[code]

With this configuration you can use ENV VAR from, for example, you

[2020-06-19 08:50] sandrotaje commented on #217
Duplicated #218

[2020-06-19 08:50] #217 closed

[2020-06-19 09:27] alexandrebodin commented on #218
Hi @sandrotaje,

For deployment purposes you should  always create your own DockerFile.
I'm not sure I understand what you are suggesting ?

[2020-06-19 10:32] sandrotaje commented on #218
Yes, it's what i did and what i posted is my Dockerfile.
I suggest to insert in the example directory also this configuration because can be helpfull to who wants to read enviroment variable that modify the strapi frontend build.
I use this because i wanted to put strapi under a reverse proxy with /api for api and a /dashboard for the admin panel. The problem is that to make this works you have to

[2020-06-19 10:40] alexandrebodin commented on #218
Thanks, no problem with adding more examples. You can make a PR if you want :)

[2020-06-19 10:40] sandrotaje commented on #218
I post also my server.js and my nginx conf
server.js
[code]

[code]

[2020-06-19 10:46] sandrotaje commented on #218
Ok thank you

[2020-06-19 10:46] #218 closed

[2020-06-23 09:19] christophemacabiau opened #221 "strapi start race: core_store table does not exist"
**Describe the bug**
At the first start, I get sometimes this error:
[code]

**Steps to reproduce the behavior**
1. create a container using the strapi/strapi v3.0.2 image

**Expected behavior**
strapi starts correctly

**System**
- Node.js version: 12.13.0
- NPM version: 6.12.0
- Strapi version: 3.0.2
- Database: Postgresql 12.3
- Operating system: fedora 32

**Additional context**
Seems to be th

[2020-06-24 13:15] brenojac commented on #215
Hi @alexandrebodin,

    I believe I have solved the issue. I tried the same default installation in my VPS at DigitalOcean and it is running fine now. I'm sending this message to that this issue might be closed. Thank you very much.

[2020-06-25 12:37] juliensl commented on #188
Does anybody succeed to connect Strapi-Docker to MogoDB Atlas ?

[2020-06-25 14:07] virgil9306 opened #224 "Docker images not working?"
**Describe the bug**
Dockerfiles are not working because `⛔️ You can only create a Strapi app in an empty directory. Make sure /srv/app is empty.`

I think it is not a problem with the Dockerfile, so I am posting here. None of the examples work here: https://strapi.io/documentation/v3.x/installation/docker.html

**Steps to reproduce the behavior**

1. Run `docker-compose up --build` on any example

[2020-06-26 07:37] alexandrebodin commented on #215
Great to hear you could solve your issue ! Closing then :)

[2020-06-26 07:37] #215 closed

[2020-06-26 18:18] brenojac opened #222 "Admin Page taking longer than 2 minutes to load"
![Captura de tela de 2020-06-26 15-11-36](https://user-images.githubusercontent.com/563016/85888330-c467e080-b7bf-11ea-8881-6a16311b8ef0.png)

Helo Strapi team,

I just installed a fully working Strapi stack using Docker compose and it's all fine, except the admin page is taking a long time to load. I searched and found it is a common issue that would be solved in your beta release. But unless I'm

[2020-06-27 17:10] rams23 opened #223 "Strapi base example image size too big with node_modules"
The size of the docker image created using the Dockerfile example of the strapi/base is greater than 1GB because it contains all the node_modules required. Is there a way to build the strapi backend and simply run using node a builded file (like a bundle tool output or so)? this will reduce drammatically the image size in production i think.

## Step to reproduce:

- run docker image binding an em

[2020-06-28 22:04] SalahAdDin commented on #210
I have the same problem and I'm just using the default compose file which is provided by `strapi`.

[2020-06-29 08:02] alexandrebodin commented on #223
Hello. You can create your own image for sure :) Closing as nothing prevents you from doing what you want :)

[2020-06-29 08:02] #223 closed

[2020-06-29 08:15] alexandrebodin commented on #222
Hello, It only take 2s for me to load the link you shared. Are you hosting your in another region of worlf ?
Your app is also running in development mode. Building it for the production mode when deploying will improve performances.

I'm going to close as it isn't an issue with the docker container itself.

[2020-06-29 08:15] #222 closed

[2020-07-04 11:23] boxedcode commented on #125
I just had this issue running `strapi/strapi:latest` with docker-compose, following this guideline, but using `mysql` instead of Mongo DB: https://strapi.io/blog/how-to-run-a-strapi-dev-stack-with-docker-compose

The container won't stay up, so I cannot bash into it and run `npm install` manually.

[2020-07-06 09:04] idimlab commented on #125
@boxedcode Getting the same error with Mongo DB. Have you solved this issue by any chance?

[2020-07-06 12:15] alexandrebodin commented on #205
Closing as the PR was merged

[2020-07-06 12:15] #205 closed

[2020-07-06 13:11] Brad-Christie commented on #224
May we see docker-compose.yml & dockerfile anyways (and/or commands you're using to execute) and an `ls` of the directory you're mapping to the container? I've never observed the issue you're describing, and have run multiple containers.

[2020-07-08 10:50] MartinN3 opened #225 "Strapi with docker-compose is unable to reinstall node_modules"
EDIT: MORE CONTEXT

Problem is that when you actually develop strapi, you commit app without node_modules and other trash. When you checkout that repo and do `docker-compose up` the strapi is unable to install missing NODE_MODULES .....

Filesystem volume snapshot:
[code]

[code]

docker-compose up

[code]

[2020-07-08 12:01] alexandrebodin commented on #225
Hello, Your issue does not give enough context to help you. Please add informations about your configuration and what your are doing. Closing until you change the description

[2020-07-08 13:17] MartinN3 commented on #224
It's happening in situation when you already have some folders (for example /api and /components) that you want to copy into finished image and you are also using them as volume in docker-compose. That means that they are mounted there even before strapi is initialized ... i think.

[2020-07-09 13:09] MartinN3 commented on #225
@alexandrebodin is it now suitable for reopen?

[2020-07-09 19:50] MartinN3 commented on #225
I found issue and its related to bad managment on user side (not keeping yarn.lock or package.lock)

In this file /strapi/docker-entrypoint.sh

There is `if` and `elseif`, but `else` is missing.. therefore no response no installation nothing. only that message about running npm install..

`elif [ ! -d "node_modules" ] || [ ! "$(ls -qAL node_modules 2>/dev/null)" ]; then

    echo "Node modules not

[2020-07-13 05:46] stanleyyuenyiu commented on #28
@alexandrebodin may i know where PR? im facing the same issue too, strapi needed to deploy docker/kubernetes, there is no persistent storage at all, so when user create a new content type, it will generate code for the API, but if somehow we restart the docker, everything are gone, how do we solve?

[2020-07-13 05:46] stanleyyuenyiu opened #227 "Strapi Docker deployment in kubernetes with no persistent storage"
im facing the same issue for many people,

strapi needed to deploy docker/kubernetes,

there is no persistent storage at all,

so when user create a new content type,

it will generate code for the API,

but if somehow we restart the docker, everything are gone,

how do we solve?

[2020-07-15 08:10] alexandrebodin commented on #227
Hello, This is not something to change in the strapi images but rather mount some persiste file storage in your images with kubernetes. Depending on the platform you are using (AWS , GCP...) you will need to figure that out on their documentation.

An example here https://strapi.io/blog/deploy-strapi-on-kubernetes-with-https.

Closing as we don't have any bug to fix on the images

[2020-07-15 08:10] #227 closed

[2020-07-15 08:37] stanleyyuenyiu commented on #227
@alexandrebodin thx for the reply

but i expect strapi is a stateless software, turn out it will generate code for the api, and this is quite unusual.

i know i can find some storage to resolve the issue

but if we are trying to move the strapi from uat -> production, it means i need to download the code from the uat, and then build a new docker to push to production

now do you see the issue?

[2020-07-15 08:42] alexandrebodin commented on #227
Sure I get your issue,

The actual workflow in a strapi project is that you should build your schema before moving to production.
The generated schemas should exist before the project is moved to production. (commited into versionning for example).

[2020-07-15 08:45] stanleyyuenyiu commented on #227
@alexandrebodin oh, then it make more sense, im thinking at that way too

thank you very much

[2020-07-16 17:24] alexandrebodin commented on #225
I would do npm install if there is a package-lock and yarn install otherwise indeed

[2020-07-17 06:07] alexandrebodin commented on #224
Hi @virgil9306, I am closing this issue for inactivity. Feel free to reopen with more information so we can help you figure this out :)

[2020-07-17 06:07] #224 closed

[2020-07-18 20:57] rogoit commented on #125
Also here

[2020-07-20 09:35] alexandrebodin commented on #125
Hi @idimlab @rogoit @boxedcode  I see you are not all using the same DB. Would you mind onpening new issues with your specific errors so we can triage them and help you out :)

[2020-07-20 11:09] rogoit commented on #125
Hi @alexandrebodin ,

how can i help. I just do the installation guide and run in the same isse as the rest here. What can i do now?

See you
Roland

[2020-07-20 11:33] alexandrebodin commented on #125
@rogoit You can start by opening a new issue with some informations so we can review it with context of recent changes.

We need to know the OS / version / docker-compose or dockerfile you have created

[2020-07-23 15:48] jdnow opened #229 "Having an install issue in Azure Containers"
Attempting to spin up a Strapi docker instance in Azure Containers, I'm using a configuration to build the setup:

[code]

Everything installs alright, but quickly run into an error on the startup of strapi:

[code]

[2020-07-23 15:54] jdnow commented on #229
Having written up the error, I'm wondering if the issues isn't tired to the azure storage used for the /srv/app folder. Will investigate further on my end. Any suggestions or help will be greatly appreciated.

[2020-07-23 16:09] alexandrebodin commented on #229
we updated the strapi image. I would recommend not to use the latest tag when using docker in production. You can revert to a previous version using the image: strapi/strapi:3.0.6 for example

Will check if the image is not broken in 3.1.0 as we added some dependencies

[2020-07-23 16:11] alexandrebodin commented on #229
Forget all I said... This dep was not added in 3.1.0 🤦

Looks like your mounted volum is missing some stuff indeed

[2020-07-23 17:10] kaioduarte opened #230 "Not able to create project with Docker"
I followed the steps mentioned [in the docs](https://strapi.io/documentation/v3.x/installation/docker.html) and it's failing during the dependencies installation.

![image](https://user-images.githubusercontent.com/11046907/88316380-ab474680-cd0f-11ea-9755-6ffa5e7a78f0.png)

[2020-07-23 18:44] jdnow commented on #229
New problem during the installation of components. Error from yarn:

[code]
Sound like possible incompatibilities with azure storage?

[2020-07-24 09:44] alexandrebodin commented on #229
It looks like an incompatibility between azure and any node module that is strange... You might have to git into issue with docker node and azur itself

[2020-07-24 15:03] jdnow commented on #229
Yeah, I ended up moving this to a regular docker environment and everything worked without problem. I'm chalking this up to an Azure storage issue.

[2020-07-24 17:32] alexandrebodin commented on #229
Great new :) Closing the issue then ;)

[2020-07-24 17:32] #229 closed

[2020-07-26 10:09] avks commented on #125
@alexandrebodin I am sorry to say this but it is a lame strategy to close an unsolved issue just because there's a rebuild of the images. It seems like people are still having the same issues that was first reported a year back. So, it is evident that "rebuilding" images didn't fix anything.

[2020-07-26 10:17] avks commented on #125
For anyone else having the same issue, here's a dirty fix:

1. Start the container. This will create the necessary files for a new project.
2. Stop the container.
2. `cd` into the project directory (from host machine).
3. `npm install`, assuming almost all distros come with `npm` preinstalled.
4. Start the container.

[2020-07-27 02:51] claudiolcastro commented on #125
I'm was having the same issue (on MacOS), and this worked for me 👍

![Screen Shot 2020-07-26 at 23 43 31](https://user-images.githubusercontent.com/20761700/88498877-b95cc780-cf9a-11ea-9254-9a3b65615719.png)

but.. it was expected that we would have to instal the node dependencies even working with Docker... ??

[2020-07-27 08:19] rogoit commented on #125
I am working on Linux Ubuntu ;)

[2020-07-27 09:14] oskar-gmerek opened #231 "Can't install documentation plugin via admin dashboard"
**Describe the bug**
When tried to install documentation plugin from administration dashboard its occurs with the error.

**Steps to reproduce the behavior**

1. Follow documentation to install Strapi and mongoDB with docker-compose [Installing using Docker](https://strapi.io/documentation/v3.x/installation/docker.html)
2. Choose Polish Language as a dashboard language (It was automatically select

[2020-07-27 14:21] Eventyret commented on #230
Could you share your docker file or docker-compose file @kaioduarte  ?

[2020-07-27 14:34] kaioduarte commented on #230
Here it's

[code]

[2020-07-27 15:09] Eventyret commented on #230
Personally i would delete `node_modules` `.cache` and `build`
then run
`docker-compose run strapi yarn install` // install packages with yarn instead
`docker-compose run strapi yarn --build clean` // cleanup and rebuild ui

Let me know :)

[2020-07-27 15:23] kaioduarte commented on #230
I tried the first command and it's the same: problem while building `sharp` package

[2020-07-27 15:24] alexandrebodin commented on #230
@kaioduarte From the logs I see the install tries to download the dependency from github to build from source. Are you an a network that could have some firewall rules that could impact this ?

[2020-07-27 15:26] kaioduarte commented on #230
@alexandrebodin nop, I can create the project with CLI and sharp is building properly.

My environment:
- Ubuntu 20.04 via WSL2
- Node 12.18.3
- Yarn 1.22.4

[2020-07-27 15:39] alexandrebodin commented on #230
You might want to look it this: https://development.robinwinslow.uk/2016/06/23/fix-docker-networking-dns

Looks like there are a lot of networking issues with docker container with windows

[2020-07-27 15:56] kaioduarte commented on #230
Oh, that make sense, I was not using `Docker Desktop`, so the connection wasn't full enabled for the container, now it's working.

[2020-07-27 15:56] #230 closed

[2020-07-27 16:02] alexandrebodin commented on #225
Just pushed a fix for this and update the 3.1.1 image. Closing this issue now